[2017-10-06 00:00] artman opened #1 "Finish writing Wiki Documentation"
Documentation should be written over at the [wiki](https://github.com/uber/ribs/wiki)

[2017-10-06 00:02] artman opened #2 "Write documentation for RIBs"
Documentation should be written over at the [wiki](https://github.com/uber/ribs/wiki)

[2017-10-06 00:03] artman opened #3 "Write documentation for Data & UI Flows"
Documentation should be written over at the [wiki](https://github.com/uber/ribs/wiki)

[2017-10-06 00:04] artman opened #4 "Write documentation for RIB Classes and Naming"
Documentation should be written over at the [wiki](https://github.com/uber/ribs/wiki)

[2017-10-06 00:04] artman opened #5 "[iOS] Write documentation for Tools"
Documentation should be written over at the [wiki](https://github.com/uber/ribs/wiki)

[2017-10-06 00:04] artman opened #6 "[android] Write documentation for Platform Specifics"
Documentation should be written over at the [wiki](https://github.com/uber/ribs/wiki)

[2017-10-06 00:05] artman opened #7 "Design the overall structure for the wiki documentation"
Documentation should be written over at the [wiki](https://github.com/uber/ribs/wiki)

[2017-10-06 00:06] artman opened #8 "Update the README.md"
The README.md should be selling the architecture and needs to be updated to be really selling. Also, we'll need an icon for RIBs to make the README stand out.

[2017-10-06 00:12] artman opened #9 "Commit inital Android code"

[2017-10-06 00:12] artman opened #10 "Commit initial iOS code"

[2017-10-08 18:12] gergelyorosz opened #12 "[android] finalize tutorial1"
I think we should have an example application for iOS & Android using RIBs. Optionally a getting started guide could walk through key steps of the building of the application.

Thoughts on going forward with this? And if we do, what should the application be?

[2017-10-12 08:21] #9 closed, assigned to AttwellBrian

[2017-10-12 08:27] AttwellBrian opened #13 "Figure out how to publish intellij plugin"
I've ported over a fork of the intellij plugin (we probably won't be able to create a single source of truth for the intellij plugin since the internal intellij plugin does tonnes of things). However, I haven't touched the module in Uber's mono-repo responsible for deploying the intellij plugin. Our internal code didn't handle public deploys.

[2017-10-12 08:42] AttwellBrian opened #14 "[android] Port screen-stack & create tiny tutorial for it"

[2017-10-12 08:45] AttwellBrian opened #15 "[ios] Write documentation for Platform Specifics"

[2017-10-12 18:07] #13 closed, assigned to nobody

[2017-10-12 18:12] AttwellBrian opened #16 "[android] Including NullAway in tutorial1, just to show it off. Nice to have."
Tutorial includes a line that says "Let’s try building and installing the app. *You’ll notice it crashes* because there is more work to do".

It would be nice if we could instead say "Let's try building. *You'll notice it fails to build*"

[2017-10-12 18:14] AttwellBrian opened #17 "[android] Make sure all commits include header files"

[2017-10-12 21:54] #17 closed, assigned to AttwellBrian

[2017-10-12 23:37] AttwellBrian opened #18 "[android] tutorial for leak canary configuration"

[2017-10-13 00:03] AttwellBrian opened #19 "[android] setup linter for autodispose usage"
This is one of the things that makes RIBs so resilient to memory leaks. It is also a cool tech demo.

Could either hook up error prone. Or just write a quick psi linter as a tech demo.

[2017-10-13 00:15] AttwellBrian opened #20 "[android] figure out how to do licensing for "uava" classes"
Some uava `Optional` classes are inlined into this project in order to support workflows. What is the current source code license to use for these? Or, is there a smarter way we can have the workflow classes depend on our uava classes?

[2017-10-13 04:12] #10 closed, assigned to neakor

[2017-10-15 20:37] artman opened #21 "[iOS] Integrate with Travis"
Integrate Ribs to build on travis whenever a PR is issued or updated. Builds should run on multiple versions of iOS.

[2017-10-15 20:38] artman opened #22 "[android] integrate with Travis"
Integrate Ribs to build on travis whenever a PR is issued or updated.

[2017-10-16 16:16] gergelyorosz opened #23 "Design a logo for RIBs"
Create two logos:
- One that can be used in https://uber.github.io/
- One that can be used on the README file - e.g. https://github.com/Alamofire/Alamofire

[2017-10-16 16:28] AttwellBrian opened #24 "[android] tutorial2 - Composing RIBs to create features"
port tutorial from https://docs.google.com/document/d/1NnpIf3X-fxEh60LnNU9viplIn9RTi7DbLNkVXNqxNqg/edit

based on lesson102

[2017-10-16 16:28] AttwellBrian opened #25 "[android] tutorial3 - RIB DI and Communication"
lesson103 from https://docs.google.com/document/d/1NnpIf3X-fxEh60LnNU9viplIn9RTi7DbLNkVXNqxNqg/edit

[2017-10-16 16:29] AttwellBrian opened #26 "[android] tutorial4 - deep linking"
port lesson 301 from https://docs.google.com/document/d/1NnpIf3X-fxEh60LnNU9viplIn9RTi7DbLNkVXNqxNqg/edit

[2017-10-16 16:34] AttwellBrian opened #27 "[ios] tutorial2 - Composing RIBs to create features"
port tutorial from https://docs.google.com/document/d/1NnpIf3X-fxEh60LnNU9viplIn9RTi7DbLNkVXNqxNqg/edit

based on lesson102

[2017-10-16 16:34] AttwellBrian opened #28 "[ios] tutorial1 - Intro to RIBs"
port 101 from https://docs.google.com/document/d/1NnpIf3X-fxEh60LnNU9viplIn9RTi7DbLNkVXNqxNqg/edit#heading=h.1dkpda3m5jbb

[2017-10-16 16:35] AttwellBrian opened #29 "[ios] tutorial3 - RIB DI and Communication"
port 103 from https://docs.google.com/document/d/1NnpIf3X-fxEh60LnNU9viplIn9RTi7DbLNkVXNqxNqg/edit#heading=h.1dkpda3m5jbb

[2017-10-16 16:36] AttwellBrian opened #30 "[ios] tutorial4 - deep linking"
based on 301 in https://docs.google.com/document/d/1NnpIf3X-fxEh60LnNU9viplIn9RTi7DbLNkVXNqxNqg/edit#heading=h.1dkpda3m5jbb

[2017-10-18 13:02] orling opened #32 "Make sure the Windows+Android combo works just as well"
We are an OS X shop, so the Windows+Android development setup may easily get overlooked. Make sure both code, samples, IDE plugins and documentation work just as well on such a setup as on OS X.

[2017-10-18 20:39] #23 closed, assigned to gergelyorosz

[2017-10-19 01:26] #4 closed, assigned to AttwellBrian

[2017-10-19 01:26] #3 closed, assigned to AttwellBrian

[2017-10-19 01:27] #2 closed, assigned to AttwellBrian

[2017-10-19 19:11] kovpas opened #35 "[ios] create a README.md for the TicTacToe tutorial app"

[2017-10-20 19:19] gergelyorosz opened #37 "[Android] Write documentation for Tools: IntelliJ code generator plugin"

[2017-10-21 11:51] #37 closed, assigned to gergelyorosz

[2017-10-21 12:28] gergelyorosz opened #39 "[iOS] Add RIB code generation template with instructions"
Similar to the [Android one](https://github.com/uber/RIBs/tree/master/android/tooling/rib-intellij-plugin).

[2017-10-23 20:23] artman opened #41 "[ios] Go through header documentation and remove @CreateMocks"

[2017-10-23 21:16] gergelyorosz opened #43 "[ios] Add tests to RIBs project"

[2017-10-23 22:13] #41 closed, assigned to artman

[2017-10-25 20:04] sbarow opened #46 "[iOS] Fix swift format script"
Currently script is not actually being run on the swift files.

Header is also incorrect, should be updated to be:

[code]

[2017-10-25 21:19] artman opened #50 "[iOS] Add unit tests"

[2017-10-25 21:27] #50 closed, assigned to artman

[2017-10-26 08:56] #29 closed, assigned to kovpas

[2017-10-26 15:09] #39 closed, assigned to gergelyorosz

[2017-10-26 17:47] #28 closed, assigned to kovpas

[2017-10-26 19:31] #27 closed, assigned to kovpas

[2017-10-29 18:55] #6 closed, assigned to AttwellBrian

[2017-10-29 23:40] #18 closed, assigned to nobody

[2017-10-30 18:02] #12 closed, assigned to nobody

[2017-10-30 18:03] AttwellBrian opened #68 "Ensure tutorial parity on iOS and Android"

[2017-10-30 19:14] #30 closed, assigned to kovpas

[2017-10-30 21:06] #35 closed, assigned to artman, kovpas

[2017-11-01 17:39] artman opened #75 "source3.swift is referencing a mock"
https://raw.githubusercontent.com/uber/ribs/assets/tutorial_assets/ios/tutorial2-composing-ribs/source/source3.swift is referencing a mock that does not exist. The mock should be included in the sample code.

[2017-11-01 20:36] #46 closed, assigned to sbarow

[2017-11-02 20:40] #20 closed, assigned to nobody

[2017-11-02 20:40] #26 closed, assigned to nobody

[2017-11-02 20:40] #7 closed, assigned to AttwellBrian

[2017-11-02 20:45] AttwellBrian opened #83 "Release to maven central"
Spent a couple hours trying to get this work without success. To meet our deadlines I think someone that already has their keys setup should do this.

Ie, @hzsweers

[2017-11-02 22:09] #75 closed, assigned to kovpas

[2017-11-03 21:04] #25 closed, assigned to yuanlu-0

[2017-11-03 21:04] #24 closed, assigned to yuanlu-0

[2017-11-03 21:04] #1 closed, assigned to AttwellBrian

[2017-11-03 21:55] AttwellBrian opened #88 "Android Checkstyle Story"
This repo is using a confusing mix of Uber's old codestyle (4 spaces) and the new style (2 spaces). As a result checkstyle has been disabled.

Should update the checkstyle files and re-enable checkstyle.

[2017-11-03 23:06] msridhar commented on #83
I uploaded the artifacts but did not promote them.  @AttwellBrian you can close whenever appropriate

[2017-11-03 23:25] hzsweers commented on #83
If brian doesn't have perms set up yet, one of us (@msridhar or me) will need to finish the release too

[2017-11-03 23:30] hzsweers commented on #88
Just autoformat the repo?

[2017-11-04 00:02] msridhar commented on #83
I don't see the repo in the list of staging repositories on Sonatype.  Maybe I don't have the right permissions to see it?

[2017-11-04 00:16] AttwellBrian commented on #83
I have the com.uber permission for sonatype. But I don't see Manu's entry here.

[2017-11-04 00:31] msridhar commented on #83
That's weird.  I ran `./gradlew clean uploadArchives` and it succeeded.  Maybe it just failed silently?

[2017-11-04 19:04] artman commented on #22
@hzsweers, can you have a look why the android job is failing?

[2017-11-04 21:23] #21 closed

[2017-11-05 04:41] AttwellBrian opened #100 "intellij module build performance"
The build depends on `com.uber.intellij` dependencies. Obviously these are not open source dependencies.

Didn't notice until just now. Will need to find a replacement for these.

FYI @jbarr21 @kageiit

[2017-11-05 04:51] AttwellBrian commented on #83
Got it working.

The internal wiki used the wrong field names for sonatype password and username.

[2017-11-05 04:51] #83 closed

[2017-11-05 04:52] AttwellBrian commented on #22
There was a travis bug. After that was fixed I needed to find replacements for some libraries whose maven coordinates no longer existed.

[2017-11-05 04:52] #22 closed

[2017-11-05 06:23] AttwellBrian commented on #100
This is now fixed. However the build will be really slow because hundreds of MBs are downloaded from https://www.jetbrains.com/intellij-repository/snapshots.

Should look into dropping the exact jars that we need.

[2017-11-06 03:37] kageiit commented on #88
Lets just use gjf like nullaway does

[2017-11-06 08:16] #8 closed

[2017-11-06 12:34] sturmen opened #108 "Fix hyperlinks in the Android tutorials section of wiki"
Attached is a patch file with the proper URLs. Had to change to `.txt` from `.diff` due to GitHub's restrictions.
[wikipatch.txt](https://github.com/uber/RIBs/files/1446176/wikipatch.txt)

[2017-11-06 13:28] artman commented on #108
Thank you @sturmen. I'd rather like to take #109, which renames the tutorial folders to match the wiki documentation.

[2017-11-06 15:36] leobrujah commented on #108
Just to point out that there's a broken link in the "RIBs plugin jar" under the [Tooling Section](https://github.com/uber/RIBs/tree/master/android/tooling/rib-intellij-plugin)

[2017-11-06 18:51] kovpas opened #112 "[iOS] Swift Package Manager support"
Already implemented in #106. Since SPM doesn't support UIKit imports, I had to `#if os(iOS)` bunch of code, which is not ideal. We have to get back to this once SPM supports iOS builds.

[2017-11-06 22:26] #5 closed

[2017-11-07 09:06] yaboisandeep opened #113 "tutorial 1 - Rib template not found after pod install"

[2017-11-07 09:11] artman commented on #113
Post-install hooks in cocoapods have been dreprecated, so adding information on how to install tooling to the wiki.

[2017-11-07 09:15] yaboisandeep commented on #113
Thanks,I did figure it out.
Closing the issue

[2017-11-07 09:15] #113 closed

[2017-11-07 09:36] yaboisandeep opened #115 "tutorial 1 : provided sample code at https://raw.githubusercontent.com/uber/ribs/assets/tutorial_assets/ios/tutorial1-create-a-rib/source/source1.swift has constraint errors, due to usage of snapkit"
<img width="318" alt="screen shot 2017-11-07 at 3 03 07 pm" src="https://user-images.githubusercontent.com/18097615/32486642-39234a98-c3cd-11e7-9980-040109a5a1af.png">

[2017-11-07 09:38] yaboisandeep commented on #115
importing snapkit fixes the issue

[2017-11-07 13:52] artman commented on #112
Closing this for now as SPM doesn't support building for iOS.

[2017-11-07 13:52] #112 closed

[2017-11-07 15:00] bangarharshit opened #116 "Android - Remove synthetic accessors"
There are around 44 synthetic accessors (15 in main code).  Remove them to reduce dex count.

[2017-11-07 15:36] kovpas commented on #115
@artman there are a few solutions to this:
- write in [the tutorial](https://github.com/uber/RIBs/wiki/iOS-Tutorial-1) something like "make sure to import SnapKit so the project compiles"
- Provide the entire file in [the assets](https://github.com/uber/RIBs/blob/assets/tutorial_assets/ios/tutorial1-create-a-rib/source/source1.swift).

Which one is better you think?

[2017-11-07 15:42] artman commented on #115
I think it makes more sense to add this to the tutorial wiki, as the file has already been created by the tooling.

[2017-11-07 17:28] kovpas commented on #115
Done.

[2017-11-07 17:28] #115 closed

[2017-11-07 17:30] AttwellBrian commented on #116
I'm curious: did you just manually read through the code to find these? Or did you run a tool.

I have a pretty good idea where they are. But interested in how you did this generally.

[2017-11-07 17:38] bangarharshit commented on #116
Through IntelliJ inspections. It is in beta and not enabled by default so you need to enable it from preferences (J2ME).

https://medium.com/thoughts-overflow/effects-of-javas-synthetic-accessor-methods-in-android-bb67b3bac22e

[2017-11-07 19:02] hzsweers commented on #116
Only if doing so doesn't create weird API holes

[2017-11-07 19:24] AttwellBrian commented on #116
Of course. Synthetic accessors can be valuable.

And when profiling RIB classes I haven't seen much time spent inside the RIB base classes.

[2017-11-08 18:58] artman commented on #108
This has been resolved.

[2017-11-08 18:58] #108 closed

[2017-11-08 20:42] AttwellBrian commented on #15
This is done right?

[2017-11-08 21:06] #15 closed

[2017-11-09 07:34] oronbz opened #122 "slack for RIBs community"
Hi guys,
One of the most powerful things within the RxSwift community is communication (no pun intended) with slack.

How are you maintainers and other contributors feeling about creating a slack server for RIBs?

I personally think this could speed up the advancement and maturity of this project, along with people who will be there to clear things up and make RIBs integration an ease.

[2017-11-09 12:36] artman commented on #122
That makes perfect sense. I'll look into this once I get some free time.

[2017-11-09 15:23] artman opened #123 "[iOS] Sanity check tutorial #1 and tutorial #2"
I just updated tutorial #1 and tutorial #2 in terms of language, more helpful explanations and missing code snippets and ran through them to make sure that they work. Could someone do a second sanity check and just run through the tutorials to make sure that they make sense? If you find any problems or spelling mistakes, feel free to update the wiki directly.

[2017-11-09 15:24] artman opened #124 "Check tutorial #3"
The language we use in tutorial #3 needs upgrading and we should run through it to make sure it produces a working project without any problems.

[2017-11-09 15:25] artman opened #125 "[iOS] Tutorial #4 wiki entry"
The entry is still missing.

[2017-11-10 09:13] artman opened #127 "Add differences between RIBs and MVC to the README"
This make the README more approachable, we should explain the differences between RIBs and MVC in the README.

[2017-11-10 09:24] hzsweers commented on #127
That might be a slippery slope. MVP is a common pattern on Android (and we do have Presenters), VIPER is probably what RIBs are most similar to, etc

[2017-11-10 14:26] gergelyorosz commented on #127
I see the value in doing this. I will do a first pass and share it with the two of you for feedback.

[2017-11-10 20:56] pcegarra opened #128 "Task 'installDebug' not found in project ':tutorials:tutorial1-create-a-rib'."
I cant run the command:
./gradlew :tutorials:tutorial1:installDebug

Here is the full stacktrace:

The setTestClassesDir(File) method has been deprecated and is scheduled to be removed in Gradle 5.0. Please use the setTestClassesDirs(FileCollection) method instead.
        at org.gradle.api.tasks.testing.Test.setTestClassesDir(Test.java:956)
        at com.android.build.gradle.tasks.factory.Androi

[2017-11-11 10:38] kovpas commented on #125
@artman the tutorial [is done](https://github.com/uber/RIBs/wiki/iOS-Tutorial-4). Would appreciate if you have a look.

[2017-11-11 14:34] artman commented on #128
This is probably related to renaming the tutorial folders simply "turolial<x>". Sorry, didn't check the gradle files.

[2017-11-11 14:41] artman commented on #125
Thanks @kovpas! I'll go through it once I'm done with tutorial 3. Will keep this open until then.

[2017-11-11 16:01] AttwellBrian commented on #128
Should be fixed now.

[2017-11-11 16:01] #128 closed

[2017-11-12 21:59] eduardb opened #130 "FrameLayout should be LinearLayout in tutorial 1"
In tutorial 1 in the wiki, the paragraph
 ```In order for this view to work, you'll need to update the LoggedOutView to inherit from FrameLayout.```
 should read
```In order for this view to work, you'll need to update the LoggedOutView to inherit from LinearLayout.```.

See file in tutorial 2: https://github.com/uber/RIBs/blob/e532c90d17b9302d271cb3663c11eb06cbd5ec83/android/tutorials/tutorial2/s

[2017-11-13 04:15] gergelyorosz commented on #127
First draft [here](https://docs.google.com/a/uber.com/document/d/1eVfYasmYdFZTVZgOV10Y5H5nxOxBn4o-AaEtjwOpvGw/edit?usp=sharing) (internal only). Feedback welcome!

[2017-11-13 12:01] ManWithBear opened #131 "Complex modules"
Can you please provide some examples of complex modules with submodules and communication between them? (Rear menu, tableview with one cell - one module, etc)

[2017-11-13 12:09] igordeoliveirasa commented on #131
+1

[2017-11-13 12:13] igordeoliveirasa commented on #131
I'd like to see an example about multiple states manipulating different components at the same ViewControllers. Example: Showing a button, hidding another.. Showing a view, hiding another.. Depending on each RIB state rules.

[2017-11-13 12:40] kovpas commented on #131
Thanks for reaching out @ManWithBear!

In general, there's no difference if two RIBs are a part of the same module or not. The only nuance is that all the RIB protocols and the RIB builder should become public. Other than that the code and communication should look the same.

[2017-11-13 12:48] sbarow commented on #131
@igordeoliveirasa have you had a look at the [tutorials](https://github.com/uber/RIBs/wiki/iOS-Tutorial-1) in the [wiki](https://github.com/uber/RIBs/wiki) it will walk you through exactly what you are describing.

[2017-11-13 13:06] artman commented on #125
This is now updated.

[2017-11-13 13:06] #125 closed

[2017-11-13 13:14] igordeoliveirasa opened #132 "Options for Template Generating"
As I'm working on a library and I'll have to 'export' multiple classes and protocols, I'd love if template generating toll could have an option for generating protocols as 'public'  and classes as 'open' automatically.

[2017-11-13 16:05] igordeoliveirasa opened #133 "Passing 'application' and 'launchOptions'"
I have this sequence of ribs: Root -> Setup -> Home.
I'd like to access application and launchOptions from AppDelegate in Setup's Rib.
I didn't understand well how to do that via 'component' and/or 'router method'.

Is there anybody here who could help me?

Thanks.

[2017-11-13 17:10] sbarow commented on #132
Hi @igordeoliveirasa as mentioned in [131](https://github.com/uber/RIBs/issues/131) all that is needed to expose RIBs to other modules is to make the `Buildable`,  `Dependency`, `Routing`, and `Listener` protocols as well as the RIBs `Builder` as public. This isn't something we need to cover in templates as the majority of your RIBs should just be scoped to the module they are in.

[2017-11-13 17:10] #132 closed

[2017-11-13 17:20] sbarow commented on #133
Have a look at [tutorial 3](https://github.com/uber/RIBs/wiki/iOS-Tutorial-3) which explains dependency injection.

Essentially in your `SetupDependency` you would have a requirement of `application` & `launchOptions`

[code]

Could we keep these kinds of questions to stack overflow? Tag `ribs`, `ios`

[2017-11-13 17:20] #133 closed

[2017-11-14 10:48] oronbz opened #136 "Xcode Template weirdness: XInteractable protocol is in XRouter and vice versa"
Hi, I've noticed a really weird oddity with the Xcode RIB templates and I wonder if it's by design and why.

When I create a RIB called `X` I've noticed that the `XInteractable` protocol is declared on `XRouter` file and the `XRouting` protocol is declared on `XInteractor` file.

I'll be happy to fix it in a pull request and wonder if there's any reasoning behind it? Because I find it confusing.

[2017-11-14 11:17] artman commented on #136
The XRouter declares the XInteractable protocol, since that's what it wants from its Interactor. Similarly, the XRouting is defined in XInteractor, since that's what it wants from its router. We chose this arrangement so that the call-site would contain the interface that you can call out to.

[2017-11-14 11:35] oronbz commented on #136
Got it! Thanks @artman

[2017-11-14 11:35] #136 closed

[2017-11-14 19:53] igordeoliveirasa opened #137 "Broken link - Completed Tutorial 4"
Link: https://github.com/uber/RIBs/tree/master/ios/tutorials/tutorial4-completed is broken.

[2017-11-14 19:57] sbarow commented on #137
Should be fixed now - just merged [129](https://github.com/uber/RIBs/pull/129)

[2017-11-14 20:00] igordeoliveirasa commented on #137
Thanks.
sbarow, could you add an example about cancelling current game? I'm facing with "memory leak" problems trying to "come back" to the "root". I guess this example would help us even more about detaching.

[2017-11-14 20:03] sbarow commented on #137
Sure, I'll have a look. cc @kovpas

[2017-11-14 20:09] igordeoliveirasa commented on #137
If you could give me a tip right now, how would you do to cancel game from OffGameViewController? (minimal steps that will help me a lot)
Thanks.

[2017-11-14 20:15] sbarow commented on #137
You want to navigate from OffGame to LoggedOut?

[2017-11-14 21:04] igordeoliveirasa commented on #137
Yes.

[2017-11-14 21:05] igordeoliveirasa commented on #137
Like close game / logout operation.

[2017-11-14 21:06] igordeoliveirasa commented on #137
Im making any mistake on this kind of flow.

[2017-11-15 06:24] igordeoliveirasa commented on #123
i think its less confusing when class properties are declared on top of them instead of along of class as they are currently.

[2017-11-15 06:26] igordeoliveirasa commented on #122
I agree!

[2017-11-15 11:51] igordeoliveirasa opened #139 "RIBs tips about not checking: 'Owns corresponding view'"
There are an example that teaches us how to create LoggedIn RIBs which its router manipulates parent's view controller. That's nice.. However, what if I had to manipulate parents presenter from LoggedIn Interactor?

For better understanding, imagine that this interactor have some business rules that may throw some exceptions.. I'd like to order presentable to display those errors.

Thanks.

[2017-11-15 11:52] igordeoliveirasa commented on #139
For better understanding, imagine that this interactor have some business rules that may throw some exceptions.. I'd like to order presentable to display those errors.

[2017-11-15 12:05] igordeoliveirasa opened #140 "Detaching Child"
In tutorial we learn the below code so as to detach current child:

[code]

A question: May I also use that method so as to detach children from RIBs which doesn't own View? If no, how could detach them? I suppose, the right method should be like that, Am I right? Follows:

[code]

[2017-11-15 12:11] sbarow commented on #137
Closing as this is fixed - can discuss the next issue in [#140](https://github.com/uber/RIBs/issues/140)

[2017-11-15 12:11] #137 closed

[2017-11-15 12:40] igordeoliveirasa commented on #137
Thanks. I'll open another Question Issue instead of continuing to #140, since it's another kind of doubt, ok?

[2017-11-15 12:43] igordeoliveirasa opened #141 "Navigating back"
I need a help about navigating back to the LoggedOut screen.
A good example could be departuring from TicTacToeViewController and/or OffGameViewController until LoggedOut again.

The challenge is about detaching viewable and not viewable ribs.
Thanks.

[2017-11-15 12:43] sbarow commented on #137
I believe it should be related to the same question, no need for another one.

[2017-11-15 13:42] igordeoliveirasa opened #142 "Throwing exception example"
It would be nice if we could have an example where a not owning view controller RIB could throw an exception and popup at parent view controller.

[2017-11-15 16:24] igordeoliveirasa commented on #131
@sbarow Yes, i did it. But I think I was not able to explain what I really wish. Sorry. I'll keep practicing here.. Thanks!

[2017-11-15 16:27] oronbz opened #143 "Android tutorial 1 issues"
Hi I would love to correct those issues by myself but as you know one does not simply make a PR for Wiki.

* Step 5 - `In order for this view to work, you'll need to update the LoggedOutView to inherit from FrameLayout.` this should be changed to `LinearLayout` to compliment your suggested layout. (https://github.com/uber/RIBs/issues/130)

* Step 5 - You forgot to mention adding the following line

[2017-11-15 17:53] oronbz opened #144 "Kotlin RIB templates"
Hi,
Are Kotlin templates in the making? Is this something you thought of, or decided to discard?

[2017-11-16 05:13] kronik opened #145 "More real-life examples"
I'm very excited to see a different approach to a flexible mobile architectures. And I'd ask for more examples including side menu, tabbar, list of elements, details of elements, network interactions, etc.

[2017-11-16 07:46] igordeoliveirasa opened #146 "Example using UINavigationController"
I have ViewControllers that are embedded in UINavigations and it would be awesome if we could have examples using them, not only modals.

Detailing forward and backward navigation.

[2017-11-16 07:46] igordeoliveirasa commented on #146
Detailing forward and backward navigation.

[2017-11-16 08:52] ManWithBear commented on #131
@kovpas Since RIBs business logic driven, instead of view driven architecture, how you handle UINavigationController (back button taps, back swipe gesture) and UITabBarController(tab switches)?

[2017-11-16 08:54] ManWithBear commented on #145
Check out this issue: #131

[2017-11-16 11:58] oronbz commented on #146
@igordeoliveirasa I believe that you should implement back button functionality on your own, detaching current child from its parent router.

[2017-11-16 13:32] igordeoliveirasa commented on #146
@oronbz thanks for your answer! I'll try this approach. However, I still have some doubts, like:

1 - Should I instantiate UINavigationViewController dynamically?
2 - This UINavigationViewController must be any kind of RIB component?
3 - A simple example really would help me.

Thanks.

[2017-11-16 13:37] igordeoliveirasa opened #147 "Dependency & Component Extensions Tool"
If framework had 'RootComponent+LoggedOff.swift' kind of files generator would be really helpful!
I can notice that because I've been converting a huge project to use RIBs framework (I do believe on this framework.). It's a bit annoying to create those files manually. And it's so easy to get confused.

Thanks.

[2017-11-16 13:40] sbarow commented on #147
There is a template for component extensions in our templates [ios/tooling](https://github.com/uber/RIBs/tree/master/ios/tooling)

[2017-11-16 14:48] oronbz commented on #146
1 - @igordeoliveirasa I would've create `UINavigationViewController` in my `RootBuilder` assign the `Root` RIB view controller as its initial view controller and then just present this navigationController on `didLoad` of the `Root` RIB.
2 - All the other RIBs views will just decide whether to present children as modals or push/pop to/from navigation controller.
3 - I'm not an UBER employee and ju

[2017-11-16 16:04] igordeoliveirasa commented on #147
My XCode is showing only RIBs and Unit Test. Not showing 'Component/Dependency' type.

<img width="722" alt="screen shot 2017-11-16 at 14 04 03" src="https://user-images.githubusercontent.com/2123428/32901507-19f63674-cad7-11e7-99bf-5b1443aacd95.png">

[2017-11-16 16:11] igordeoliveirasa opened #148 "Routing didLoad method not called"
Scenario:
RIB A1 routes to RIB B
RIB A2 also routes to the same RIB B

Where: RIB A1 and A2 own view but RIB B does not own view, the didLoad of RIB B Routing is not called.

[2017-11-16 16:12] sbarow commented on #147
@igordeoliveirasa pull the latest & run `./ios/install-xcode-template.sh`

[2017-11-16 16:15] sbarow commented on #148
Did you attach the child RIB i.e RIB B to A1/2? Info can be found in [iOS-Tutorial-2](https://github.com/uber/RIBs/wiki/iOS-Tutorial-2)

[2017-11-16 16:20] igordeoliveirasa commented on #148
@sbarow Oh yeah! It was missing! Thank you so much!

By the way, I had a confusion with components extension of RIB A called by 2. I had to do something like that:

RIB A1
[code]

RIB A2
[code]

One of them I had to call from self.dependency and another from self.

Is that right?

[2017-11-16 16:23] igordeoliveirasa commented on #147
@sbarow Thanks! Now it appears. 👍

[2017-11-16 16:23] igordeoliveirasa commented on #147
@sbarow Thanks! Now it appears. 👍

[2017-11-16 16:23] #147 closed

[2017-11-16 16:23] sbarow commented on #148
This would depend on how you have structured your dependencies and components.

In A1 case it means you have defined that as a dependency and in A2 case you haven't but have the variable as part of your component.

[2017-11-16 16:24] igordeoliveirasa commented on #148
By the way, it would be nice if we could have an example of a RIB being routed from 2 or more other ribs.

[2017-11-16 16:25] igordeoliveirasa commented on #148
@sbarow Ok, in the beginning it's a bit complex to understand components and those inversion protocols. But its awesome! Let's keep on practicing... 👍

[2017-11-16 16:25] #148 closed

[2017-11-16 16:28] igordeoliveirasa commented on #146
I don't know if its a good practice, however, the project I'm working starts with a default UIViewController (not UINavigation) and after signed in, it presents a UINavigationController with its UIViewController children. There are multiple Storyboard UIViewControllers also embedded to a UIViewController.

[2017-11-16 17:12] ronzohan opened #149 "Carthage Error"
I can't seem to integrate RIBs using Carthage. Upon running `carthage update --platform iOS`, carthage will fail with this error message in the log file

[code]

Any idea on what's causing this?

[2017-11-16 17:15] sbarow commented on #149
We are working on a solution [#138](https://github.com/uber/RIBs/pull/138) for now you can use the `carthage` branch.

Just update your `Cartfile` to point to:
[code]

[2017-11-16 17:41] ronzohan commented on #149
Okay thanks but I think there is still an error on that branch because RIBs can't actually find the carthage folder since its in the root folder.

I made it worked by changing `Framework Search Paths` into `$(PROJECT_DIR)/../Carthage/Build/iOS`

[2017-11-16 18:21] AttwellBrian commented on #143
Updated.

[2017-11-16 18:21] #143 closed

[2017-11-16 18:21] AttwellBrian commented on #143
Thanks for letting us know.

[2017-11-16 18:25] AttwellBrian commented on #144
No reason not to have kotlin templates.

I haven't built kotlin templates because we don't use kotlin in production apps. Kotlin slows build performance in highly modular apps (going from a 12second incremental build time to minutes in one of our apps). But I'd be happy to take a PR that adds kotlin templates.

[2017-11-16 18:56] igordeoliveirasa commented on #146
@sbarow, Does current RIBs version supports UINavigationController?

[2017-11-16 19:05] igordeoliveirasa commented on #146
@oronbz On tutorials we have learned to create present(viewController: ViewControllable).
I guess it eliminates the chance about creating UINavigationController dynamically and pass it at that present method, since UINavigationController is not ViewControllable.

[2017-11-16 19:12] igordeoliveirasa commented on #146
@oronbz I could solve creating the following extension:

[code]

Is that a good practice, @sbarow ? If it is, wouldn't be nice if UINavigationController were ViewControllable by RIBs design ?

Thanks.

[2017-11-16 19:29] sbarow commented on #146
There is nothing wrong with either approach. `RIBs` doesn't enforce what you can or can't pass around to do view presentation/navigation. You could go with the extension approach or you could change the `present` protocol function to rather take in a `UINavigationController` or pass a `UIViewController/ViewControllable` into the present method and then create a new `UINavigationController` with th

[2017-11-16 19:32] sbarow commented on #149
Thanks for the info @ronzohan is that error when you are checking out RIBs and trying to build the actual RIB project or when you are adding RIBs to a project through Carthage?

[2017-11-16 19:41] igordeoliveirasa commented on #146
@sbarow Alright! I guess its less dirty to follow your other ideas instead of extending UINavigationController.

When you say: "We've seen approaches where .." <--- Where have you been seen them? I'd like to read more advanced open source projects using RIBs...

Thanks.

[2017-11-16 19:57] oronbz commented on #144
Sounds good, I'll try to work something out (:

[2017-11-17 03:06] ronzohan commented on #149
The error occurs on adding RIBs to a project through Carthage. Running `carthage update` would fail building the dependency.

[2017-11-17 07:27] gergelyorosz commented on #130
Thanks for pointing it out! Fixed by @AttwellBrian .

[2017-11-17 07:27] #130 closed

[2017-11-17 13:00] igordeoliveirasa opened #152 "Unit Test template is generating classes inside a folder called 'Default'"
It's because there is only one option but exists a folder called Default inside unit tests template's folder.

[2017-11-17 13:10] sbarow commented on #152
Thanks @igordeoliveirasa just put up a pull request to fix [#153](https://github.com/uber/RIBs/pull/153)

[2017-11-17 15:10] #152 closed

[2017-11-18 04:40] gergelyorosz commented on #127
Addressed with #150.

[2017-11-18 04:40] #127 closed

[2017-11-19 13:30] igordeoliveirasa commented on #140
@sbarow could you help me? It's not so clear to me.

[2017-11-19 14:08] igordeoliveirasa commented on #146
Since, I've been unit testing, I started to feel the necessity to create a UINavigationController RIB... Because I'd rather have it injected instead of creating UINavigationController inside routers methods ...

[2017-11-19 18:27] igordeoliveirasa commented on #146
It's very complicated to discover the right way to use RIBlets when you have to sometimes navigate with UINavigateControllers and other times without, when you will detach you must know if you have do dismiss or to pop, when you have to use embedded modals and so on..

Tutorial helps a lot, however, I'm totally lost on real cases scenarios.

[2017-11-19 18:55] kovpas commented on #140
Yes, that looks correct.

Depending on your needs you could have a separate method for every child router that is attached. That way you'd know if the child you're about to detach is a `ViewableRouting` or not:

[code]

[2017-11-19 18:58] kovpas commented on #146
I haven't seen ones yet. I think what @sbarow was referring to is our internal usage of RIBs: different teams might use them slightly differently.

I'll try to come up with a few simple `UITabBarViewController` and `UINavigationController` examples.

[2017-11-20 02:32] kronik commented on #131
+1

[2017-11-20 14:43] Axelsyrex opened #154 "RIB state clarification for a specific use case"
Hey!
My team is in a state of picking an architecture for a big application, both android and iOS. I read in details all your documentation and watched probably every video regarding this matter, but still some questions wander in my head.
I am doing a simple PoC of an application that has two screens, one for showing a list of names(Strings), and another for adding a new name. There are two appro

[2017-11-20 16:16] castrokingjames opened #155 "[Android] Interaction with Activity"
How can I interact with activity? For example interacting with Camera Activity

[2017-11-20 18:02] igordeoliveirasa commented on #146
@kovpas I got it!

Man, do that for us! It's really necessary! 👍

Thank you so much!

[2017-11-20 18:12] igordeoliveirasa opened #156 "Question about closing current view in a sequence"
Imagine this sequence:
Root(owns view) -> A(not owns view) -> B(not owns view) -> C(owns view).

If CViewController is closed by itself, I'd like to back to Root state.

So, on CViewController, I have a button to close current view.
I suppose that this button would call:

[code]

I can imagine that this listener is B Interactor. However, what should B interactor do?

I don't know how to come back.

[2017-11-20 18:18] igordeoliveirasa commented on #154
@Axelsyrex
You can do first option, second options or both. There is no rule on this case.

But I think Root->Names->AddName is a common scenario.

[2017-11-20 18:24] sbarow commented on #156
You would propagate that listener message all the way back to root in this case.

i.e `Root(owns view)` <- `self.listener.myMethodOtherForClose()` `A(not owns view)` <- `self.listener.myMethodForClose()` `B(not owns view)` <- `self.listener.didCloseTap()` `C(owns view)`

[2017-11-20 18:29] igordeoliveirasa commented on #156
@sbarow thank you by you answer!
But, root does not have access to dismiss B view controller...

[2017-11-20 19:04] sbarow commented on #156
You can choose who dismisses the view controller, which can either be done by C itself or by B, the message i.e the `self.listener.myMethodForClose()` can still be called letting A know something has happened.

[2017-11-20 19:33] igordeoliveirasa commented on #156
@sbarow
We know that B has attached C... So, B is the responsible for detaching and dismissing C. I need something more concrete...

Are the next steps possible AND good approaches?
- CViewController calls its self.listener.didCCloseTap()
- self.listener is B Interactor
- So, B Interactor calls router.detach()
- Router detaches current child and dismiss C ViewController and calls self.iteractor.li

[2017-11-20 19:40] igordeoliveirasa commented on #156
@sbarow it won't help. Since router detach method is able to detach current view controller but has not business inteligence/logic to call next parent interactor.

I really need a clear instruction about this.

[2017-11-20 19:44] sbarow commented on #156
- "So, B Interactor calls router.detach()" - and calls listener (from interactor) `So, B Interactor calls self.listener.didBClose()`

Same pattern follows.

[2017-11-20 19:46] igordeoliveirasa commented on #156
@sbarow

It's impossible. Since router.detach() knows that it should detach current view, however, it does not know who has called him so as to decide that it should now call self.interactor.listener.didBClose() ...

[2017-11-20 19:51] sbarow commented on #156
I am not sure I follow. B router attached C router right?

If so:
- C view controller calls listener (C interactor ) to say its done i.e back/close button tapped.
- C interactor calls listener (B interactor) to say C is done, decide what to do.
- B Interactor tells B router detach C router.
- B Interactor tells listener (A Interactor) to say B is done, decide what to do.
- A interactor tells A rou

[2017-11-20 19:54] igordeoliveirasa commented on #156
Two commands made by B Interactor, right? First informing router to detach and after informing its listener that it needs to be detached...

Did I understand you?

[2017-11-20 19:56] sbarow commented on #156
Yip, the thing to remember is the interactor is always responsible for making logic decisions wether that be tell the router to detach or telling its listener i.e its parent interactor that it needs to make a decision based on some thing.

[2017-11-20 19:59] igordeoliveirasa commented on #156
@sbarow AWESOME! I got it.
I guess it would be more safe If B Router detach's method could offer a completion callback, am I right? Since there is a animation dismissing viewcontroller, It's better to execute second command (which is: letting A Interactor to be informed) after dismissing completion.

Am I right, @sbarow ?

[2017-11-20 20:00] sbarow commented on #156
Yeah, I updated my previous comment with that info :-)

[2017-11-20 20:03] igordeoliveirasa commented on #156
@sbarow Thank you so much! Now I'm feeling well again. lol

[2017-11-20 20:08] igordeoliveirasa commented on #141
It's related to #156

[2017-11-21 07:40] #156 closed

[2017-11-21 07:40] #141 closed

[2017-11-21 07:41] sbarow commented on #146
Reference #156

[2017-11-21 07:42] sbarow commented on #142
Answered in #156

[2017-11-21 07:42] #142 closed

[2017-11-21 07:43] sbarow commented on #139
Answered in #156

[2017-11-21 07:43] #139 closed

[2017-11-21 07:57] #149 closed

[2017-11-21 07:57] sbarow commented on #149
@ronzohan updated the path, you should be able to use this from master now. Please let me know if you have any issues.

[2017-11-21 08:51] stoimen01 commented on #154
Hello!
I have a little problem with the **Root->Names->AddName** approach on Android.
The problem comes from the fact that **Names** and **AddName** RIB's should fulfill the whole screen space.
So at the moment when i try to route from **Names** to **AddName** RIB I have no space to attach the
**AddName View**. Thus I'm forced to remove all the stuff from the **Names View** and then to attach the

[2017-11-21 10:08] kovpas commented on #154
@Axelsyrex this depends on the application actually. If the `Names` RIB is not supposed to know which flow comes next, then the `Root` RIB should decide that. For instance, `Names` RIB might actually not show the `AddName` RIB unless the user is logged in. Which means that `Root` RIB should be informed about the intention of the user and decide which screen to show.

On the other hand, this approa

[2017-11-21 10:43] Axelsyrex commented on #154
@kovpas thank you for the answer. I think I get what you mean now. Basically RIB **A** should not decide to attach another RIB **B** that depends on a state outside the scope of RIB **A**. Correct me if I am wrong.

[2017-11-21 14:14] kovpas commented on #154
@Axelsyrex yes, that sounds correct. Although, you can propagate the decision to the RIB A, by propagating dependencies that are needed for the decision. So it really depends on the architecture and the responsibilities of each RIB.

[2017-11-21 15:35] igordeoliveirasa opened #157 "Best practices for routers about closing current ViewController."
I'd like to learn what's the best practice for routers in order to close (dismiss or pop) current opened UIViewController. I don't think it's nice to make multiples conditions in "currentChild" to discover which view it is and suppose that: Oh ok, its AViewController, lets dismiss it, but if it's BViewController let's pop it... Because,.. I could have moments where AViewController could be a modal

[2017-11-21 15:45] igordeoliveirasa opened #158 "Question about 'currentChild' router's variable of tutorial"
I'd like to know if instead of declaring and keep setting 'currentChild' whenever I attach a new state, I could suppose that if I retrieve 'self.children.last' is the same reference and if it's better then manual 'currentChild' handling...

[2017-11-21 15:46] igordeoliveirasa commented on #131
+1

[2017-11-22 02:17] AttwellBrian commented on #158
Do you mean `self.currentChild` or `self.children.last`? You wouldn't want to store multiple last children in memory if you have detached some of them. That is a memory leak.

Sounds like your children are mutually exclusive and you want a convenient way to manage their mutual exclusivity?

You could definately write a utility that makes this easier. The `RouterNavigator` class in this repo is one

[2017-11-22 02:18] AttwellBrian commented on #155
I talked about this a bit in the https://github.com/uber/RIBs/wiki/Android-Specific-Questions

[2017-11-22 10:24] igordeoliveirasa commented on #158
@AttwellBrian all RIB's routers offer us a 'children' property by default. When we call attach(..) RIB's framework add it to 'children'.

[2017-11-22 12:29] igordeoliveirasa commented on #140
@kovpas but, lets suppose we have 10 kinds of detaching methods like in your example. And I have 10 kinds of routeTo<SomeState>() method... I'll have to make many conditions to know what kind of "detach" method to call.. That's driving me a bit crazy.. Your clarification will be much helpful.

[2017-11-22 15:53] Axelsyrex opened #159 "A question regarding Android flow"
Hello!
I have a little problem with the **Root RIB**->**RIB A**->**RIB B** flow on Android.
The problem comes from the fact that **RIB A** and **RIB B** should fulfill the whole screen space.
So at the moment when i try to route from **RIB A** to **RIB B** I have no space to attach the
**RIB B** View. Thus I'm forced to remove all the stuff from the **RIB A** View and then to attach the **RIB B**

[2017-11-22 18:50] neakor commented on #157
How to present and dismiss child view controllers (push vs modal) is inherently a view logic concern. The router shouldn't be making this decision anyways. It should delegate that to the corresponding view/view controller. For instance, after the router detaches the child RIB, it can simply make a call via its `MyViewControllable` protocol to tell the corresponding view controller implementation t

[2017-11-22 19:03] igordeoliveirasa commented on #157
@neakor do you have any practical example using modal and navigation?

[2017-11-22 19:19] kovpas commented on #140
Why would you make any conditions? If router A attaches routers B and C, and at some point wants to detach one of them, it'll just invoke a method `detachC` or `detachB`, and will be done. Could you please clarify your question?

[2017-11-22 19:22] neakor commented on #157
We do have a lot of examples internally at Uber. Unfortunately those examples are too complex to share in a digestible format. In short though, once we get to the corresponding view controller implementation from the router, there's not much difference between how a RIB's view controller operates from how a MVC's view controller operates.

[2017-11-22 20:33] igordeoliveirasa commented on #157
@neakor

I didn't understand exactly this part.

[2017-11-22 20:43] igordeoliveirasa opened #160 "Best practices to present error when there are viewable and not viewable"
Let's suppose we have:

SignIn (viewable) -> SignInProcessA (not viewable) -> SignInProcessB (not viewable)

Supposing that in SignInProcessB Interactor we had an error, I have some questions:

- It should call a method from it's listener i.e: self.listener?.hadErrorSigningIn(error) recursively until it arrives at SignIn (viewable) to use presentable like: self.presentable.present(error)?

- If ab

[2017-11-23 00:34] neakor commented on #157
I think you got it right. The implementation of those methods should encapsulate all view logic related to dismissing the view controller passed in.

[2017-11-23 01:28] kronik opened #161 "Global services"
If I create a remote API service instance and local configuration management service instance in AppComponent what will be a correct way of passing them into LoggedInInteractor and further?

Currently, I've added them to RIB's dependency and pass them to the interactor when a builder builds the RIB through an interactor's constructor. And if I have more dependencies in interactor, it's constructor

[2017-11-23 08:50] sbarow commented on #161
The way you have mentioned is the recommended approach as thats essential what the `Builder` is there for, to pass in the dependencies for its `router` & `interactor`. For unit testing it also makes it super clear what the `Interactor` would need in this case. Yes you could pass in the `dependency` (the component conforms to the dependency so you can pass in either) but I am not sure this is the b

[2017-11-23 18:47] Holoceo opened #162 "Broken images in Android tutorials (Wiki)"
There are broken images in android wiki tutorials 1 and 2.

[2017-11-23 22:44] kronik commented on #161
Got it. thanks!

[2017-11-23 22:44] #161 closed

[2017-11-23 22:53] sbarow commented on #162
@Holoceo should be fixed now, thanks for the heads up.

[2017-11-23 22:53] #162 closed

[2017-11-24 05:52] kronik opened #163 "Present UINavigationController modally"
I'm a bit confused about presenting my RIB's view controller in a new UINavigationController modally.

It's not clear where should I set right and left navigationItems. And who should control transition animation's code? How to handle back gestures and interactive dismiss gesture? What's the right place to do all of this?

[2017-11-24 17:02] ronzohan opened #165 "Unbalanced calls to begin/end appearance transitions"
The warning `"The unbalanced calls to begin/end appearance transitions"` seems to occur on my RootViewController RIB when the RootRouter tries to present another controller. The warning occurs when a view controller tries to present the another view controller even though the presenting view controller has not finished displaying. Any idea on preventing this warning to occur?

[2017-11-26 01:51] hzsweers opened #166 "Proposal: Make a demo of the google architecture examples for Android"
See https://github.com/googlesamples/android-architecture

We'd talked about this awhile back as a really good example for demoing RIBs in a context that's both familiar and comparable to other common architectures. This repo is sort of the go-to standard for comparing/demoing different architectures

[2017-11-27 00:32] kronik opened #167 "Add XIB option"
Could you add an option on RIB creation to optionally add corresponding XIB file (if user ticks "Owns corresponding view"?

[2017-11-28 05:26] JakeSc commented on #157
We've done something similar, @igordeoliveirasa, whereby our ViewController has some method like this:
[code]

Although this is a bit messy given the `switch` statement, I think it's defensible for the parent ViewController to make certain view-logic decisions based on its child's type. It can have full knowledge of all its children types. Another, slightly more generic way we have solved this is

[2017-11-28 08:16] JakeSc commented on #68
Out of curiosity, what are some of the major remaining parity disparities, @AttwellBrian ?

[2017-11-28 08:18] sbarow commented on #167
Would this be something you would be interested in putting up a PR for?

[2017-11-28 08:33] JakeSc opened #170 "[Both platforms] Recommended approach for navigational flows - granular RIBs or Views?"
I realize that the RIBs framework is flexible enough to allow multiple approaches, but I'd like to collect some thoughts on design philosophy here.

Imagine a scenario in which we have a menu of options, the `MainMenu` RIB, which links to a child, `ProfileMenu`. `ProfileMenu` then links to each of three possible screens: `ProfilePhotos`, `ProfileSummary`, and `ProfileHistory`. The hierarchy looks

[2017-11-28 17:46] AttwellBrian commented on #170
You're right. That is the answer :)

Some things to consider are:
* Creating each screen as a RIB will discourage coupling between these screens. If you write this as a single RIB then a bunch of the business logic will end up living in the ProfileMenu (or being inlined into ViewControllers which are likely hard to test). Creating each screen as its own RIB will create a bit more boilerplate. If e

[2017-11-28 19:31] neakor commented on #165
That warning is usually because the parent view controller has not been fully presented yet, before the child view controller is presented. RIBs doesn't deal with any UIKit specific logic. Perhaps you can show some more code of how the root view controller is attached to window and how you present the second view controller? It's difficult to debug without seeing any code.

[2017-11-29 01:53] kronik commented on #167
[PR](https://github.com/uber/RIBs/pull/171)

[2017-11-29 05:24] kronik opened #172 "RIB in UICollectionViewCell or UITableViewCell"
Any particular ideas on how to attach / detach RIBs when user scrolls collection/table view with different RIBs inside cells?

[2017-11-29 18:26] igordeoliveirasa opened #173 "Question: when is cleanupViews called?"
I've read tutorial many times however I didn't get when cleanupViews is called.

[2017-11-29 18:44] igordeoliveirasa commented on #157
Awesome, @JakeSc and @neakor.

I really got it. Thank you so much guys.

[2017-11-29 18:44] #157 closed

[2017-11-29 19:11] igordeoliveirasa opened #174 "Appearance has leaked"
I have the following ribs' flow:

**Root (viewable) -> Home (viewable) -> Auth (not viewable) -> SignIn (viewable)**

**Information:**
Auth is not viewable but its Router is a ViewableRouter, since it receives HomeViewController (such as LoggedIn of tutorial);

**When I am at HomViewController, I tap 'go to authentication area' button and it does the following:**
- HomeViewController calls: listen

[2017-11-29 23:31] sbarow commented on #173
Its defined by the user. There is an explanation as to why you use it in [tutorial 2](https://github.com/uber/RIBs/wiki/iOS-Tutorial-2#cleaning-up-attached-views-when-the-loggedin-rib-is-detached)

Regarding when it is called if you have a look at the [LoggedInInteractor.swift](https://github.com/uber/RIBs/blob/master/ios/tutorials/tutorial4-completed/TicTacToe/LoggedIn/LoggedInInteractor.swift) i

[2017-11-29 23:36] sbarow commented on #167
Thanks @kronik

[2017-11-29 23:36] #167 closed

[2017-11-30 01:52] kronik commented on #167
👍🏻

[2017-11-30 10:58] igordeoliveirasa commented on #173
@sbarow thank you. technically I got it however, when it's "real life" it's not so easy to get it..
By the way, could you help me at: #174 ? I can't see where I'm making mistake...

[2017-11-30 11:43] igordeoliveirasa commented on #174
I added a small project reproducing this here: git@gitlab.com:mobilevale/trying-ribs.git
Do not forget to run **pod install**.

[2017-11-30 11:49] #173 closed

[2017-11-30 16:10] ronzohan commented on #165
[code]

Above is my sample root router and how it is presented

AFAIK the warning also occurs in the sample tutorials.

[2017-11-30 18:38] neakor commented on #165
The `listing` VC is being presented in the same runloop cycle as the root VC is assigned to the window, while making the window visible. This will indeed cause a warning.

I think we should consider why the listing VC is separated from root to begin with? If we want listing to be attached to root at all times, as it's indicated by using the `didLoad` method for attachment, then there really isn't

[2017-11-30 18:54] JakeSc commented on #170
Hey @AttwellBrian, thanks a lot for the response.

That's a good suggestion to apply this rubric. Often I find myself looking at a screen with subcomponents and deciding which components should be broken up into RIBs vs. simply Views; this question can be answered by the question:

[2017-11-30 19:00] JakeSc commented on #170
Hey @AttwellBrian, thanks a lot for the response.

That's a good suggestion to apply this rubric. Often I find myself looking at a screen with subcomponents and deciding which components should be broken up into RIBs vs. simply Views; this question can be answered by the question:

Another question we find ourselves asking to help answer the question of RIB vs. View is this:

We're trying to stay

[2017-11-30 20:00] AttwellBrian commented on #170
Glad you're finding this useful. I'm curious: what apps are you using this in Jake?

[2017-12-01 00:14] JakeSc commented on #170
At Life360 (http://engineering.life360.com/), we're building some pretty major upcoming features using RIBs for our iOS and Android apps. We actually had developed our own implementation of RIBs since May which we based on the Uber Mobility talks and your blog post.

Luckily the implementation we've been working with has a lot of similarities with the "official" version here, so the RIB components

[2017-12-01 02:10] neakor commented on #174
I think this is the issue here

Auth should not be a ViewableRouter, since that means it's retaining the VC when it shouldn't.

[2017-12-01 02:17] neakor commented on #131
@ManWithBear in short, they are decoupled. Let's us UINavigationController as an example. When we want to push a new child VC, the parent router first attaches the child VC's corresponding RIB (router). Then the parent router tells the parent VC to "present" the child VC. In this case, the presentation is calling UINavigationController's `push` method. When the child VC is "popped" via either the

[2017-12-01 05:25] JakeSc opened #176 "[iOS] NavigationController as a RIB's View?"
This question is similar to https://github.com/uber/RIBs/issues/163.

I have a RIB whose view is a UIViewController displayed as the rootViewController of a UINavigationController. Essentially, the Parent should present a UINavigationController like it would normally display any child View; and then the Child now has a view, as well as the capability to push children to the UINavigationController.

[2017-12-01 10:58] igordeoliveirasa commented on #174
@neakor but it's like LoggedIn RIB tutorial, which does not own view but was modified to handle a view. Please, help me! @neakor !

[2017-12-01 16:09] edrew08 opened #177 "Xcode tooling installation script issue"
I noticed that for the tooling installation script, `install-xcode-template.sh`, its success/failure seems to be dependent on the directory from which you run the script. For example, running `./install-xcode-template.sh`, when your current directory is `/tooling`, works fine. however, running `tooling/install-xcode-template.sh`, from `/ios`, doesn't succeed. the output says, `cp: *.xctemplate: No

[2017-12-03 01:18] igordeoliveirasa commented on #174
@neakor @sbarow I really think tutorial is not teaching correctly in LoggedInRouting. It worked there since there is no LoggedIn RIB detaching flow. If it had, it would crash too. So, tell me: The correct way is to let it as Routing instead of ViewableRouting and make it receive its parent view controller as a common parameter?

[2017-12-03 13:59] ronzohan commented on #165
Making the listing as the root does makes sense as the root VC does nothing except for presenting the listing vc.

This makes sense to me now. Thank you and cheers! 🍻🍻

[2017-12-03 13:59] #165 closed

[2017-12-03 17:12] sbarow commented on #177
@edrew08 PR sounds good, thanks.

[2017-12-04 00:15] edrew08 commented on #177
Cool, [PR](https://github.com/uber/RIBs/pull/178) opened.

[2017-12-04 04:52] kronik commented on #176
From the previous discussion as I understand we have two options. And one of them might look like:

Place somewhere conformance to a ViewControllable protocol:

`extension UINavigationController: ViewControllable {
    public var uiviewController: UIViewController { return self }

    public convenience init(root: ViewControllable) {
        self.init(rootViewController: root.uiviewController)

[2017-12-04 18:38] neakor commented on #165
Happy to help!

[2017-12-04 18:39] neakor commented on #174
I'll find some time to download your sample code and look into it. The tutorial may be out of date. Thanks for being patient.

[2017-12-04 23:44] #177 closed

[2017-12-04 23:44] edrew08 commented on #177
PR merged, closing.

[2017-12-05 00:15] neakor commented on #174
@igordeoliveirasa the tutorial code is actually wrong. View-less RIBs should **not** use the `ViewableRouter` or the `PresentableInteractor` base classes. Instead the router should inherit from `Router` and the interactor should inherit from `Interactor`. We'll correct the tutorial. Can you make this change to your local project and see?

[2017-12-05 18:49] neakor commented on #174
Here's a pull request to fix the template https://github.com/uber/RIBs/pull/179

[2017-12-05 18:59] neakor commented on #174
Here's the pull request to fix the tutorials https://github.com/uber/RIBs/pull/180

[2017-12-05 23:42] neakor commented on #174
@igordeoliveirasa I've fixed the templates as well as the tutorials. Can you please update your local code and give it a try?

[2017-12-07 07:01] namhvcntt commented on #122
need a slack channel.

[2017-12-07 07:21] namhvcntt opened #181 "[Android][Tutorial] Tutorial 1: Compile error"
`void attachLoggedOut() {
        loggedOutRouter = loggedOutBuilder.build(getView());
        attachChild(loggedOutRouter);
        getView().addView(loggedOutRouter.getView());
    }
`
`
Error:(30, 57) error: incompatible types: RootView cannot be converted to ViewGroup
Error:(32, 18) error: cannot find symbol method addView(LoggedOutView)
`
I got this error when I am trying folow tutorial 1. (S

[2017-12-07 08:17] kevinmun opened #182 "[iOS] Attachchild for UITabViewController"
So I my root view controller is a uitabviewcontroller, containing several view controllers, each view controller is within their own RIB, how do I go about attaching childs for these view controllers? at the moment, I am attaching all of the viewcontrollers on my rootrouter's didload function. Is this right?

[2017-12-09 02:10] JakeSc opened #183 "Publish tool to enable easier adding of dependencies deep in the tree"
We often find ourselves adding new dependencies to child RIBs that are many levels deep in our tree. This can be quite cumbersome. Is there an easier way to add dependencies which are propagated through the RIB tree?

Here is an example:
[code]

To add a dependency to `ImagePicker`, say `userID: String`, we would declare it like this of course:
[code]
And then because this dependency is ultimately

[2017-12-09 02:25] JakeSc commented on #183
We typically use Swinject in our iOS project, and Dagger in our Android project, and these tools allow for O(1)  effort for adding new dependencies, rather than O(N) (where N is the depth of the tree). I understand that the RIBs-Android library does indeed leverage Dagger as well, so perhaps my question is only applicable for the iOS subproject.

[2017-12-09 06:37] JakeSc commented on #176
Nice, thanks for the suggestion @kronik. Presumably then this navController will allow for pushing child RIBs' views to its stack. Perhaps we can have the AnotherRIB in your example hold a reference to (or even build) the NavigationController, so that it can use the NavigationController to push its own children.

[2017-12-11 15:16] aitorvs commented on #166
Hi there,
I was just implementing the [RIBs sample](https://github.com/aitorvs/android-architecture/tree/todo-rib) when I saw this open issue. It is still raw, as I am building it to get more insight on the architecture.

Check it our and please give any kind of feedback. As I am new to RIBs I might be using some anti-patterns :/

I have one question. What is the best practice to implement a view

[2017-12-11 17:32] igordeoliveirasa commented on #174
Yes, @neakor... I will do that as soon as possible!

[2017-12-11 18:25] gregoireLem opened #184 "[iOS] Explanation for RxSwift stream objects using an API Service"
Hello, is it possible to have an example ( or explanation) on how to use RxSwift to handle an http response that will modify the state of the app. It is said that "a handler is pointing to the corresponding stream class".  Is it possible to have more details ? Since I didn't succeed to call a rib interactor from the service layer.

Thanks a lot

[2017-12-12 00:01] rendecano commented on #144
Sample project using Kotlin, but no templates yet. :(

https://github.com/rendecano/CoinEdge

[2017-12-12 00:03] hzsweers commented on #144
To elaborate a bit on @AttwellBrian's comment - the problem for us is buck's lack of tooling for kotlin. We don't have any metrics on kotlin's incremental compilation in a gradle project though

[2017-12-12 00:05] AttwellBrian commented on #183
@neakor has been looking into this for iOS. No timelines though.

[2017-12-12 00:15] neakor commented on #183
We are internally developing a tool, Needle, to provide similar automated DI as Dagger. We explicitly chose not to use Swiftinject because it is not compile-time safe.

[2017-12-12 13:18] igordeoliveirasa commented on #174
@neakor I've checked ant its right now. Thank you.

[2017-12-12 13:18] #174 closed

[2017-12-12 13:19] igordeoliveirasa commented on #146
I think we could close this issue. I've learned how to use it properly.

[2017-12-12 13:44] oronbz commented on #146
@igordeoliveirasa it would be great if you can share a working example

[2017-12-12 16:21] gregoireLem commented on #184
In other words, an example of this explanation would be great :

"Not all state can be stored by the addition/removal of RIBs. For example, when a user’s profile settings change no RIB is attached or detached. Typically, we store this state inside streams of immutable models that re-emit when details change. For example, the user’s name may be stored in a ProfileDataStream that lives inside the Lo

[2017-12-12 17:19] vicobz commented on #184
Same question in Android !

How to ensure the link between state-modifying responses from a Service layer and shared (Immutable)DataStreams ? :)

[2017-12-12 18:26] neakor commented on #174
Happy to help :)

[2017-12-13 03:14] JakeSc commented on #183
Thanks for the information @neakor. That does seem to be the drawback of Swinject, and we're definitely enjoying the compile-time safety of the RIBs constructor-DI pattern.

Looking forward to playing around with Needle! The faster you open-source it, the faster we can help contribute ;)

[2017-12-13 03:59] neakor commented on #183
@JakeSc Thanks for the interest. The tool is still currently under development. I can't promise a timeframe just yet. But I can say that we are developing this tool with an open source first approach.

[2017-12-13 23:12] kronik commented on #176
@JakeSc  Definitely, you can return a navigationController from anotherRIBBuilder.build method in addition to a rib itself. Not sure if you need to hold an additional reference to it though because your view controller will do this for you and router just asks view controller to present child view controller for this rib.

[2017-12-14 01:21] kevinmun commented on #184
The way I do it is like so:

Service -> Interactor -> DataStream -> subscribed Presenter(s)

So the interactor has invokes a function on the service layer to fetch, when the response comes back, it's fed into the data stream ( of which the interactor also has) and then the response is consumed by any subscribers of the stream, usually presenters

In a way, I treat the datastreams as small individu

[2017-12-14 04:25] bangarharshit opened #185 "[Android] Example to demo the usage of screenstack"
Are you open to a PR for an example to show how to use `screenstack`? A very rough implementation - [ScreenStackImpl.java](https://github.com/bangarharshit/Ribs-ScreenStack-Impl).

The code covers just basic stack and state save/restoration and doesn't cover all the edge cases. Also, just a few transitions and not an exhaustive list.

[2017-12-14 11:07] igordeoliveirasa opened #189 "SWRevealViewController Integration Question"
How to use it with SWRevealViewController?

[2017-12-15 16:50] igordeoliveirasa opened #190 "Reusing "Detaching Current Child" code..."
The code below works fine for my routers. However, I've been having to copy and past it in each router just because the dismiss method at viewController (which is a ViewControllable type).

I need an idea about how could I extract the code below to a utility class or even an extension?

[code]

[2017-12-18 01:27] kevinmun commented on #190
Can't you have that method in and extension of ViewableRouting? ViewableRouting has reference to ViewableControllable which can access the underlying viewcontroller. If that dismiss method is custom, then probably you can add it in as an extended method of viewControllable

[2017-12-18 16:20] igordeoliveirasa commented on #190
I've tryied, but the problem is that normally, each view has their rules about dismissing...

[2017-12-18 16:22] igordeoliveirasa opened #191 "Model and FormViewController"
Let's suppose I have a model and a ModelFormViewController which is its current form...
Is it a good practice to let ModelFormViewController knows about this model or only its attributes? Letting the responsibility of model only to Interactor ... ?

[2017-12-19 04:36] kronik commented on #189
I had the same question and tab bar controller is also under the question... The only one solution comes to my mind - both view controllers (presented and side) should be handled by one RIB. Any comments?

[2017-12-19 19:20] edrew08 opened #192 "Creating a viewless RIB from template doesn't compile"
When creating a **viewless** RIB from the template, say for example you call it MyRib, the MyRibRouter class inherits from Router<MyRibInteractable>. The template has the MyRibRouter overriding Router's initializer:
`public init(interactor: InteractorType, viewController: ViewControllerType) { ... }`

But that's the initializer for a `ViewableRouter`, a `Router's`  initializer is:
 `public init(in

[2017-12-21 07:41] kevinmun commented on #190
I dont think that's a problem, you could have a ViewDismissable protocol that has a dismiss function and any viewcontrollable which can do a dismiss inherits from that , and they can implement their own dismiss

[2017-12-22 02:32] kronik opened #193 "How to use system controllers in iOS"
It's not clear how to use system Safari, Message and Alert view controllers in iOS

[2017-12-22 11:51] dharakk opened #194 "Bundle proguard rules with AAR"
When built with proguard, it throws the following error, adding `-dontwarn com.uber.rib.core.**` fixes the issue.

`
Warning: com.uber.rib.core.Interactor_MembersInjector: can't find superclass or interface dagger.MembersInjector
Warning: com.uber.rib.core.Interactor_MembersInjector: can't find referenced class dagger.MembersInjector
Warning: com.uber.rib.core.Interactor_MembersInjector: can't fin

[2017-12-26 18:19] neakor commented on #192
Good catch! I'll put up a fix.

[2017-12-26 23:30] dzzh opened #195 "Some improvements to the wiki docs"
Hi guys,

Thanks for open-sourcing the RIBs architecture and tooling around it, I had fun time reading about the challenges you face and how this architecture helps you to address them.

While getting through the documentation available in this repo and working with the tutorials, I found that  I could improve the language a bit to make the narration somewhat smoother. I'm not a native English spe

[2017-12-27 08:07] kevinmun commented on #191
This should be the responsibility of the presenter, which does not necessarily be your viewcontroller,  I would imagine, in MVVM's case, it would be your viewmodel.

[2017-12-27 10:46] sbarow commented on #192
@edrew08 @neakor put up a change, it is intentional for the `Router` to have a `ViewController` passed in as a dependency in the template but just not to pass it up to its super class.

[2017-12-27 10:54] sbarow commented on #191
If the transformation of the model to a UI representable model/object is complex you can introduce a [Presenter](https://github.com/uber/RIBs/blob/master/ios/RIBs/Classes/Presenter.swift) & a [PresentableInteractor](https://github.com/uber/RIBs/blob/master/ios/RIBs/Classes/PresentableInteractor.swift) to do transformations. I don't think there is any issue with passing a model object to the `ViewC

[2017-12-27 18:52] neakor commented on #192
The template wasn't correctly updated. I just put up a PR to fix it.

[2017-12-27 19:51] #192 closed

[2017-12-29 16:29] igordeoliveirasa opened #198 "I need some tips for testing ViewControllers"
I know that here is not the best place to make this question, however, since one of the RIBlets purposes is to split mvc layers in order to make them more testable, I'd like to know how could I test UIViewControllers, since there are some methods and properties that really needs a real UI flow, like self.presentedViewController, commonly used at dismiss method described on RIBlets tutorials ?

Tha

[2017-12-29 16:30] igordeoliveirasa commented on #191
Awesome, @kevinmun  and @sbarow ! Thank you so much guys.

[2017-12-31 00:20] kronik opened #201 "Where to put common RIB's code?"
I'm struggling with a problem with base RIB code. Let's say we have a RIB with photo grid. When you tap on a photo it opens this photo in full screen or in an editor. Then we want to add another RIB with some filters. So it has additional functions in the interactor, presenter, and router. Builder and view controller is also different. There may be other RIBs with this base/common functionality. A

[2018-01-01 23:52] kronik opened #202 "Builder without view has incorrect char"
Builder without view has uppercased first character in viewControllable variable in dependency protocol and class

[2018-01-02 08:58] sbarow commented on #202
Is this from when you generate using the templates? If so its because of the way the variables work, there is actually a `TODO` above the generated variable.

[code]

[2018-01-02 13:04] igordeoliveirasa commented on #191
@kevinmun @sbarow in this case, interactor and viewController should have a declared model property at the top of class?

[2018-01-02 18:29] edrew08 commented on #193
There is an example of a UIAlertController in Tutorial3-completed. Take a look at [TickTacToeViewController.swift](https://github.com/uber/RIBs/blob/master/ios/tutorials/tutorial3-completed/TicTacToe/TicTacToe/TicTacToeViewController.swift).

[2018-01-03 21:48] kronik commented on #202
Yep, it is.

[2018-01-03 21:48] #202 closed

[2018-01-03 21:49] kronik commented on #193
Got it. Thanks.

[2018-01-03 21:49] #193 closed

[2018-01-05 16:09] igordeoliveirasa opened #204 "Intercepting back button"
When we have a pushed view controller, how is the best practice to intercept navigation back button so as to call interactor -> router ?

[2018-01-05 17:19] edrew08 commented on #204
Maybe it depends on how you implement it, but what would you be routing to?  Wouldn't the RIB that you are popping to still be attached to its parent? The view your popping to would still be in the navigation controller's stack, right?

[2018-01-05 18:11] edrew08 commented on #204
If what your trying to do is detach the router for the RIB that is being popped, one option is the following.

In the view controller that is being popped:
[code]

Then your listener can delegate to the parent router that has the child router attached and it can detach your child router for the RIB that is being popped.

[2018-01-07 12:26] kovpas commented on #195
Looks good to me, @artman could you please also have a look?

[2018-01-09 02:44] rendecano commented on #144
Created an initial version of Kotlin templates.

https://github.com/rendecano/RIBsKotlinPlugin

I'm not sure if I should create a PR for this though. :)

[2018-01-15 00:38] kronik opened #206 "Example of Worker"
Any good explanation or example of Worker?

[2018-01-15 20:36] AttwellBrian commented on #144
Sorry about slow reply. Holidays and what-not. Will reply on the pull request.

[2018-01-15 20:50] AttwellBrian commented on #206
Good point. Don't think we wrote any tutorials around this. There are a very simple class. Some thoughts.

**Question**: What we use workers for?
Answer: suppose you have a RIB that contains a bunch of stateful code or Rx subscriptions for the sake of different features - none of which modifies the UI. For example: one feature might prefetche some state from a server that may be useful for later.

[2018-01-15 21:03] artman commented on #195
So sorry for the slow reply. Looking now.

[2018-01-15 21:24] artman commented on #195
Thanks for the contribution! Copied it over to the wiki with some modifications. Would love to receive more of these for sure!

[2018-01-15 21:24] #195 closed

[2018-01-15 21:29] dzzh commented on #195
Thanks, stay tuned :)

[2018-01-15 21:30] artman commented on #198
Unit tests are good to test input and output of each component. ViewControllers and Views usually need more than that. [Snapshot testing](https://github.com/uber/ios-snapshot-test-case) can be used for verifying that views render correctly, and [UITests](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/testing_with_xcode/chapters/09-ui_testing.html) (sorry, both

[2018-01-15 21:30] #198 closed

[2018-01-15 21:31] #204 closed

[2018-01-15 21:37] artman commented on #191
If you have a Presenter, only the Interactor and Presenter would be aware of the model. The Presenter would transform the model into View updates and the View would just be a dumb representation not knowning anything about the model.

[2018-01-15 21:37] #191 closed

[2018-01-15 21:38] #154 closed

[2018-01-15 21:39] #176 closed

[2018-01-15 21:39] #124 closed

[2018-01-15 21:39] #123 closed

[2018-01-15 21:40] #155 closed

[2018-01-15 21:42] artman commented on #181
@AttwellBrian, can you check this?

[2018-01-18 04:31] #163 closed

[2018-01-23 10:57] kronik commented on #206
@AttwellBrian Thanks!

[2018-01-23 10:57] #206 closed

[2018-01-23 11:10] kronik commented on #122
let's start a discussion: uber-ribs.slack.com

[2018-01-23 11:12] namhvcntt commented on #122
invite me: namhv.cntt@gmail.com

[2018-01-23 11:29] kronik commented on #122
Uber guys are welcome to become owners / administrators of this workspace

[2018-01-23 17:23] edrew08 opened #209 "Running the Xcode template installation script"
It appears that the only way to run the Xcode template installation script is to clone or download the RIBs project and then run `install-xcode-template.sh`. It seems like the templates and the installation script should also be part of the podspec, that way a user can run the template installation script after the pod install without also having to download the project separately, or am I missing

[2018-01-23 23:09] AttwellBrian commented on #201
I'm not clear on what you're asking. Can you rephrase the question?

[2018-01-23 23:20] artman commented on #201
I think @kronik's asking how to use class inheritance with Interactors, Presenters and Routers, in order to share common code in super-classes.

[2018-01-24 18:00] AttwellBrian commented on #201
In general I'd discourage the use of inheritence based polymophism inside RIBs and instead encourage composition (of other RIBs or custom views) to re-use functionality.

Composition tends to maintain better in the long run. And RIBs are designed to support it well. Plus, any RIB/MVC/VIPER pattern is extra hard to maintain for inheritance based polymophism because you end up needing to maintain mu

[2018-01-25 07:03] plasmabal opened #210 "iOS tutorials contain error"
I use `ios/tutorials/tutorial1` and follow every steps in `wiki/iOS-Tutorial-1` and `wiki/iOS-Tutorial-2`.  The project doesn't compile once tutorial 2 is finished.  I don't have much experience in Swift and it's a bit painful to pin down the cause, nor do I have enough experience see if I did anything wrong in RIB architecture.  I mean, I'm interested in the architecture, and I want to follow the

[2018-01-25 14:16] edrew08 commented on #210
Can you please elaborate on the specific compiler errors that you are seeing?

[2018-01-26 00:52] jbrophy17 opened #211 "Forked Workflows call didComplete() multiple times"
When forking a `Workflow`, the `didComplete()` function is called each time one of the forks completes. I understand that this is happening because each fork needs to call `.commit()`, which adds a subscription, but intuitively I would expect `didComplete()` to only be called once per `Workflow` after all branches had completed.

A basic test case of this:
[code]

[2018-01-26 01:18] jbrophy17 opened #212 "Recommended way to reuse / subclass Workflows?"
Is there a recommended way to subclass `Workflow` so that the same core steps can be reused for multiple `Workflow`s?

When using them for Deeplinks, I've found that most of my `Workflow`s all start with the same steps (waiting for initial data, waiting for the user to be logged in, routing to home) and then continue from that step to do specific logic. From what I have seen, there isn't a great w

[2018-01-26 17:03] edrew08 commented on #211
Is the problem that you are traveling down both forks? If you're forking a workflow, wouldn't you expect to either travel down the `firstFork` path or the `secondFork` path, but not both?

[2018-01-26 19:26] jbrophy17 commented on #211
Maybe I am misusing the fork, but my understanding is that both forks are committed, but only one is fully executed. Something like:

[code]

One option is to return an error on the non-followed fork, but it's not *really* an error that the path isn't executed, it's expected behavior. But it does mean that `didComplete` is only called once.
Error example:
[code]

Or am I writing my forked `Workflo

[2018-01-31 03:07] AttwellBrian commented on #212
Why not define a reusable method somewhere that returns the first few steps? Then inside each workflow you write:

[code]

Ie: why not use composition instead of inheritance?

[2018-01-31 05:55] artman commented on #209
Post install hooks in Cocapods have been deprecated. Also, we wouldn't want to change the Xcode environment simply when installing a pod, so yes, the only way to install the templates is the check out the RIBs repo and run the install script.

[2018-01-31 05:55] #209 closed

[2018-01-31 05:57] artman commented on #210
The tutorials project README's incorrectly stated that the project for tutorial 2 is the end result of tutorial 1. This isn't true and has been fixed. Additionally, there seems to be a problem with the Xcode templates as they produce a uppercased variable names. Working on a fix.

[2018-01-31 15:56] edrew08 commented on #209
I wasn't thinking in terms of automating the template installation script process within cocoapods. I was more just thinking that there should be a way to install to the templates without also having to download project separately.

[2018-01-31 18:53] jbrophy17 commented on #212
Yeah, good point, I can just do something like that. I was just curious because it seemed like a natural extension of the `Workflow` would be some way of chaining them together. Not necessarily inheritance, but a way to compose a complex `Workflow` by building off of an existing one, without adding a static accessor for the `Step`s.

But that's a pretty minor complaint! I can work with your sugges

[2018-01-31 19:16] #212 closed

[2018-02-02 01:38] dev4jam commented on #189
@igordeoliveirasa take a look at my sample: https://github.com/dev4jam/ToDo

[2018-02-02 01:39] dev4jam commented on #145
I've created a sample app to show major of use cases: https://github.com/dev4jam/ToDo

[2018-02-02 01:40] dev4jam commented on #146
I've created a sample app to show all major use cases: https://github.com/dev4jam/ToDo

[2018-02-07 00:48] zethraeus commented on #172
You need to call through to the routing layer based on the UI callbacks in your Collection or Table View.

There are certainly times when this can be appropriate—when you truly have a set of scoped logic which happens to be displayed in a cell—but it should be pretty rare.

[2018-02-07 12:00] dmarjanovic commented on #122
invitation please :) dragan.marjanovic at gmail.com 👍

[2018-02-07 12:02] dmarjanovic commented on #185
It would be great to have it in official tutorial. 👍

[2018-02-07 16:33] #144 closed

[2018-02-07 17:45] dmarjanovic commented on #166
It would be great to have some RIBs with backstack (either RouterNavigator or ScreenStack based) working example or snippet from Uber team too so we can have shared knowledge from the source. I liked what @aitorvs shared. 👍

[2018-02-07 22:21] neakor commented on #211
This is a bug in the Rx chain inside `Workflow`. The fix is pretty simple. I'll put up a PR. Thanks for raising this.

[2018-02-11 09:19] bangarharshit opened #215 "Deprecate error prone check in favor of check in AutoDispose"
AutoDispose has now an error-prone check to detect memory leak - [wiki](https://github.com/uber/AutoDispose/wiki/Error-Prone-Checker).

It can be easily configured for ribs:
[code]

It is updated with the new `as` API and can be kept updated with further changes in AutoDispose.

Steps involved:
1. Update `AutoDispose` to `0.6.0`.
2. Delete the check in the repo and set up the correct configuration

[2018-02-12 11:44] Kievkao commented on #149
Still get the same problem

[2018-02-12 11:56] sbarow commented on #149
I'll create a new release with updated version number, should fix the issue.

[2018-02-12 18:17] #211 closed

[2018-02-17 15:27] tailec commented on #122
krawiecky@gmail.com please

[2018-02-17 16:26] edrew08 commented on #122
If this is the official slack channel, it should be added to the readme.

[2018-02-22 06:25] jbrophy17 opened #216 "Forked Workflows call didComplete() early"
When forking a `Workflow` the `didComplete()` is called as soon as the first branch completes. The fix that added `didCompleteIfNotYet()` guarantees that `didComplete()` is called only once, but that one time is when the first branch completes. Intuitively, I would expect the `didComplete()` to be called once all of the branches have completed, but that could be a bad assumption.

Related to #211

[2018-03-01 03:36] dangthaison91 commented on #122
Should we create a website to automatically invite people? Anybody can help?

[2018-03-02 01:13] kronik commented on #122
@dangthaison91 I don't really know how to do this. Any help is appreciated :) PS: added you.

[2018-03-02 03:01] kronik commented on #122
I'll try to setup this thing: https://github.com/outsideris/slack-invite-automation

[2018-03-02 03:23] kronik commented on #122
Done! please visit: https://uber-ribs-invite-automation.herokuapp.com to receive an invite :D

[2018-03-02 03:29] dangthaison91 commented on #122
Wow, nice work @kronik? I think you should make a PR to add Slack link :D

[2018-03-02 03:33] dangthaison91 commented on #122
Thanks and nice work @kronik . A pull request  to add Slack link will be amazing.

[2018-03-02 04:59] kronik commented on #122
@dangthaison91 I doubt they will accept it :)

[2018-03-02 05:00] kronik commented on #122
@artman what do you think?

[2018-03-02 17:11] artman commented on #122
This is pretty great, thanks for doing this! Unfortunately we can't really officially point to web-services or channels that are not under our control. I'll circle back with the team to discuss whether we could set up a channel of our own.

[2018-03-03 15:26] pcegarra commented on #185
im waiting for it too

[2018-03-04 03:57] bangarharshit commented on #185
You can use the sample in my repo - To make it work with ribs, the high-level solution is to write a wrapper which detaches the child router when `screenstack.pop` is called.

[2018-03-05 12:33] machty opened #217 "Why `Routing` instead of `Routable`?"
Hi there, currently learning RIBs, and while I understand the heavy use of protocols to facilitate stubbing/mocking in a test environment, one thing that tripped me up (possibly more than it should have) is the fact that most of the protocols in RIB use `-able` as a suffix (e.g. Presentable, Interactable, Buildable) but some reason the protocol that Routers implement is called `Routing`, which, as

[2018-03-05 22:24] kronik commented on #217
I had the same question in my mind...

[2018-03-06 03:20] datnt1987 opened #218 "[Android] Tutorial 1 import error SDK path"
Hi, when importing project tutorial1 into android studio, it displayed error when I did step 1:

After checking in android studio preferences, sdk.dir already point correct sdk path. Please help me.

[2018-03-06 03:50] datnt1987 commented on #218
I resolved it.

[2018-03-06 03:50] #218 closed

[2018-03-07 10:47] datnt1987 opened #219 "[Android] Many activities or permission check"
Hi guys, I've finished the tutorials, I found that these topics just mentioned about 1 activity with root and many view generated with RIB inside. So, for further, I want to work with many activities and in case I have to ask permission(Camera, loation,...) from RIB View, how did I do that?

[2018-03-10 02:30] Hayashi2026 opened #220 "[Android] How to use RecyclerView with RIBs?"
When I use  recyclerView, I got problems. I don't know how to bind onClickListener of a  childview' button. In my recyclerView's adapter, I create child view, and I need to bind onClickListen in it. In this case, I can't bind onClickListener by RxView, cause the childview don't created until we scroll to it. and I can't get interactor in view. Could I access Interactor directly in View? Cause view

[2018-03-10 08:14] igordeoliveirasa commented on #217
I also got this question in my mind...

[2018-03-10 12:19] asvid commented on #220
Your adapter can have a subject that would be called each time item is clicked
`holder.itemView.setOnClickListener {
            onClickSubject.onNext(item)
        }`
and then you can add method to Presenter interface
` fun listItemClick(): Observable<Device>`

so in View you just return adapters Subject

At least it is how I did it :)

[2018-03-11 01:02] Hayashi2026 commented on #220
@asvid Thank you for answer my question. You answer solves my problem， I think it's a good way to do it.

[2018-03-11 02:26] artman commented on #217
I'm not really sure myself. I remember that we had discussions around this, and we discussed whether we should adapt the common iOS norm of using a gerund ("...ing") form for protocol names. I think we just thought `Interacting` sounded dumb and so we used `Interactable` and `Presentable`. `Routing` stayed `Routing` since `Routable` sounded too much like **it** could be routed, not that it would m

[2018-03-11 02:27] artman commented on #220
Thanks for helping out @asvid!

[2018-03-11 02:27] #220 closed

[2018-03-11 02:31] artman commented on #201
Closing as answered / stale.

[2018-03-11 02:31] #201 closed

[2018-03-11 02:33] artman commented on #172
Closing as answered / stale

[2018-03-11 02:33] #172 closed

[2018-03-11 02:33] #170 closed

[2018-03-11 02:34] artman commented on #146
Closing as answered.

[2018-03-11 02:34] #146 closed

[2018-03-11 02:34] artman commented on #131
Closing as answered / stale.

[2018-03-11 02:34] #131 closed

[2018-03-11 02:35] artman commented on #140
Closing as stale.

[2018-03-11 02:35] #140 closed

[2018-03-11 02:35] #43 closed

[2018-03-11 02:36] #14 closed

[2018-03-11 02:36] #16 closed

[2018-03-11 02:36] #19 closed

[2018-03-11 02:37] artman commented on #116
Closing as stale.

[2018-03-11 02:37] #116 closed

[2018-03-12 09:05] Hayashi2026 opened #221 "[Android] Could I use Context to open an activity in Router?"
I am refactoring my app with RIBs. I refactor my project step by step, so only one activity of my project would use RIBs, other activities use a kind of MVVM. So, I get a problem. I need to open other activities in Router class, It's not the same as what tutorials teach. I need to get an activitiy's context in the Router class.  I can get context from the view, but Is it a right way to do that?

[2018-03-13 16:23] sham3k opened #222 "`Interactor` calls `Presentable` before view loads [iOS]"
There seems to be an issue where, if the `interactor` has to update its view in `didBecomeActive`, the view has not yet loaded when `didBecomeActive` is called, leading to a crash. Any workaround to wait for the view to load and then update UI?

[2018-03-14 11:44] almozavr commented on #181
@namhvcntt `class LoggedOutView extends LinearLayout` and not `extends View`

[2018-03-14 11:55] sbarow commented on #222
Do you have some example code for this? Can't say I have ever seen this before.

[2018-03-14 11:59] sbarow commented on #221
Whats the definition of "context" in this situation? Generally the direction of communication from a view would be:

- View -> Listener (Interactor)
- Interactor -> Listener or Router (interactor determines business logic)
- Router determine were to route to next.

[2018-03-15 00:44] Hayashi2026 commented on #221
@sbarow “context” means Activity’ context， Context.class in Android，I need to call context.startActivity() in Router.

[2018-03-15 03:55] kronik commented on #222
I usually use following pattern:
1. ViewController in viewDidLoad method calls listener?.didPrepareView
2. Interactor implements didPrepareView and starts loading data or interact with presenter

@sbarow is there any reason why didBecomeActive is called so early?

[2018-03-15 04:12] Hayashi2026 commented on #219
Hi guy, I think RIBs framework is design to work with 1 activity, many activities are not recommend, this was wrote in the tutorials.

[2018-03-15 07:28] datnt1987 commented on #219
Hi @Hayashi2026 , I read this android question and the answer seem satisfied our questions. Only things that I don't know how to exactly do this according the answer

Pref: https://github.com/uber/RIBs/wiki/Android-Specific-Questions

[2018-03-15 07:49] sbarow commented on #222
@neakor any insights into this?

[2018-03-15 17:27] neakor commented on #222
There are a couple of solutions for this.
1. Given that when and how to display the data the interactor passes to the view controller is view logic, the view controller should take the responsibility to store the data internally. It can then render this data when the appropriate view controller lifecycle is reached, such as `viewDidAppear`.
2. Instead of storing the data, the view controller could

[2018-03-16 03:10] datnt1987 commented on #219
Sorry, In Android tutorial 1, I passed/missed this:

So in case tranfer between actitities is done. Finally I want to ask the other case, checking permission (Camera, Read Contact,.....), how do I check permissions and response (update UI, change view) from RootActivity to Child View.

[2018-03-19 20:05] neakor commented on #222
@sham3k does my reply above help clarifying this?

[2018-03-19 21:48] AttwellBrian commented on #221
You could definitely pull the context down the DI graph and provide it to the router. I would do one of two approaches:
* Instantiate the router with a context so that the interactor can call `router.showNewActivity()`. This way you can mock out the router and easily test this flow. Plus it looks similarly to how you show new RIBs. So will be less confusing to future readers of your code.
* Wrap t

[2018-03-20 12:48] sham3k commented on #222
@neakor @kronik has a better solution. Also, I noticed RIBs is currently at version 0.9. Any timeline for the next version or is this prod-ready?

[2018-03-20 14:38] almozavr opened #223 "[android] RIBs tree management & recreation"
#### Context

One of the main problems in view-based android architecture is screens tree/stack management in terms of `Activity` recreation. E.g. imagine `Activity` is killed in background and user returns to the app and expects to see the same (some child) screen he left from – for the RIBs my concerns are:

#### How to recreate the whole tree of RIBs?

I could think of couple solutions:

1. ret

[2018-03-20 17:15] neakor commented on #222
@sham3k it is production ready. This has been our architecture for the Uber app since almost 2 years ago. We are working on the next version to simplify the architecture and reducing boilerplate.

[2018-03-20 17:15] #222 closed

[2018-03-21 11:12] datnt1987 opened #224 "[Android] RIB and Retrofit2"
Hi, I use retrofit2 to call API, my WeatherBuilder looks like:

[code]

So when running project, It crashed and threw exception:

So please tell me how to solve it.

Note: my gradle file

[code]

when adding adater-rxjava, I met error about META-INF/rxjava.properties, then I added this

[code]

[2018-03-22 07:05] datnt1987 commented on #224
Problem is solved

[2018-03-22 07:05] #224 closed

[2018-03-22 10:35] Hayashi2026 opened #225 "How to implement a view as DialogFragment in RIBs"
I want to show Dialog in RIBs, but in RIBs, we don't use DialogFragment, How to implement a view like DialogFragment? Especially animation.

[2018-03-22 10:43] dzzh opened #226 "iOS tutorials update"
When going through the iOS tutorials in wiki, I found out that it is sometimes difficult to follow the instructions because they are too low-level and don't give enough context about the purpose of the exercises. I have updated the tutorials to give a reader a better overview of the steps that have to be completed and the goals that we want him to achieve when working through the tutorials. Also,

[2018-03-23 08:28] Fi5t commented on #145
What about android real-life examples?

[2018-03-25 10:14] #225 closed

[2018-03-25 10:15] Hayashi2026 commented on #221
@AttwellBrian thanks, I think this solves the problem

[2018-03-25 10:15] #221 closed

[2018-03-26 15:49] AttwellBrian commented on #223
Talk about this briefly in https://github.com/uber/RIBs/wiki/Android-Specific-Questions

Both of the ideas you mention could work. Although they will be tricky if you are building RIBs with "dynamic dependencies" that get passed into RIBs.

Looking at the common patterns in our apps, we usually do the following: ignore the lifecycle completely. We persist network state with a repository pattern. W

[2018-03-29 00:17] #217 closed

[2018-03-29 09:45] bantyK opened #228 "Android tutorials without Dagger"
The tutorials are very difficult to follow if you have no or very limited knowledge of Dagger. Is there any sample project available in Android (Java/Kotlin) where this architecture is implemented without using Dagger.

[2018-03-30 20:57] meiyussk commented on #210
There is problem with the naming giving in the tutorial:  The name has been changed from LoggedOutBuilder to LogOutBuilder in the documentation:

-        let loggedOutBuilder = LoggedOutBuilder(dependency: component)
+        let loggedOutBuilder = LogOutBuilder(dependency: component)

-extension RootComponent: LoggedOutDependency {
+extension RootComponent: LogOutDependency {

One other feedback

[2018-04-01 17:15] tailec opened #232 "[iOS] Passing data up"
I have this RIBs tree structure:

![graph](https://user-images.githubusercontent.com/10499966/38175663-1243b9c6-35d8-11e8-8e69-cb9432651e23.png)

The issue I'm having is finding a good way of passing data from children components (D, E, F) to component in another "subtree" (G).

Currently, I'm passing this data through every parent component (for example D -> C -> B -> A -> Root) using Listeners a

[2018-04-03 05:01] rendecano commented on #232
Maybe save the data to a persistent storage(D) (shared pref, DB, etc.) and access it from the subtree (G)? (Just throwing suggestions.. :D )

[2018-04-03 05:58] rendecano commented on #219
Maybe you can do something similar to OptionsMenuService? Create something like AppPermissionsService to invoke all the listeners added (in your case a child RIB / Interactor)?

https://github.com/aitorvs/android-architecture/tree/todo-ribs/todoapp/app/src/main/java/com/example/android/architecture/blueprints/todoapp

[2018-04-03 07:17] dev4jam commented on #232
@tailec It seems the right way because otherwise, you'll couple your RIBs or introduce implicit "global state" (like a singleton). Your current idea keeps all RIBs decoupled and thus testable.

[2018-04-03 09:32] dimaosa commented on #232
@tailec You could pass **Mutable** rx stream from Root to children (D, E, F), and make changes in D, E, F, after that pass **NonMutable** Rx Stream to G (if you need only listen). So in that way you don't need to use Listeners in A, B, C

[2018-04-03 13:47] AndroidStudentClub opened #233 "Combine MVP and RIBs in one project"
I have project with 2 parts. One part of this app will be developed by other team. They decided to use RIBs architecture. But in my module I want to use MVP and Clean Architecture. So, my question is: Is it possible to combine two modules MVP and RIBs? How would this work?

[2018-04-05 13:35] Zhuinden commented on #233
RIB architecture is cleaner than MVP.

Also, "clean architecture" just says you should have domain-specific models and mappers inbetween, and RIBs don't stop you from that.

[2018-04-05 15:53] pbrazdil commented on #183
Hi @neakor, any update?

[2018-04-05 17:27] AttwellBrian commented on #233
Clean Architecture and MVP are principles and architectural patterns. No reason RIBs can't be used to implement clean architecture. Similarly depending on how you use the presenter, RIBs subsume the features of the MVP pattern.

I'm guessing you mean the other team is using a separate MVP framework? If you need the two frameworks to interop then you can introduce a compatibility layer that allows

[2018-04-05 17:27] AttwellBrian commented on #233
Also, check out "What is the difference between RIBs and MV*/VIPER" on the home page.

[2018-04-05 17:33] neakor commented on #183
We just finalized the public API. We are moving onto documentation right now. Code generator development will start next week

[2018-04-06 13:31] dmarjanovic commented on #166
@aitorvs is it possible to "move" (integrate) todo sample from your fork to original repo? It seems like a nice example and having it in official repo would bring more visibility to RIBs in Android community.

[2018-04-06 18:10] AttwellBrian commented on #228
Dagger does throw a lot of concepts at you at once!

None that I know of. It wouldn't be too hard to write some samples. But it might be faster to gain a basic working knowledge of dagger :)

I'm hesitant to include samples without dagger, since almost all real world consumers will use dagger.

The main reason RIBs are independent from Dagger is so that you can choose to use an alternative DI (or

[2018-04-07 16:56] bantyK commented on #228
That makes a lot of sense. Thank you.

[2018-04-07 16:56] #228 closed

[2018-04-09 15:51] dron247 opened #234 "[Android] Tutorial 3 and Tutorial3 - Completed: Wrong naming"
Tutorial 3 is completed one and vice versa

[2018-04-09 15:55] dron247 opened #235 "[Android] AS plugin: @Retention(CLASS) - is deprecated in Kotlin"
Kotlin template generates now deprecated annotation

[2018-04-09 16:00] dron247 opened #236 "[Android] Need at least brief examples of libraries usage in their README's"
Those libs are very confusing to be honest, it is hard to understand why we need to use them, and sometimes how, tutorials aren't covering them 100% and it takes considerable amount of time and effort to figure it out from sources

[2018-04-09 16:11] dron247 commented on #223
May be it's too late, i just have simple state machine(thinking on something automatic/generic) in each RIB interactor which decides what are we going to attach to parent. Since we have an access to save/restore of instance state we can write something, which will be enough to decide later, and we can restore from it later, since the bundle is basically going back and forth through our component g

[2018-04-10 03:17] DomenicoCammarota opened #237 "Question: Proper usage of RX .bind() in view"
I understand that RX subscriptions should be created in the interactor but what about subscriptions that are purely used for presentation (e.g., in a view controller). If the following code is implemented in a view controller the "bind" subscription will cause the following failure:

[code]

What's the proper way to deal with RX subscriptions and bindings in the UI?

[2018-04-10 17:55] aitorvs commented on #166
Hey @AttwellBrian! Sure, i am still interested in getting this out.
I am totally fine with the name change. It makes sense.

[2018-04-11 09:01] danleechina opened #238 "Jump from Safari to TicTacToe crashed when run RIBs Tutorial 4: Deep Linking"
My device is iPhone 6p and iOS 11.3.

[2018-04-11 09:03] danleechina commented on #238
![image](https://user-images.githubusercontent.com/6702864/38607028-3d167de4-3daa-11e8-9842-39007fc76f30.png)

[2018-04-19 09:39] DebashisPorter opened #239 "Using fragments in RIBs"
Hi, we have an existing app which we are planning to move into RIBs architecture but we want to use fragments in that. So just wanted to know can we use fragments in RIBs and if yes how and how difficult it is to handle fragments in RIBs?

[2018-04-19 11:14] Zhuinden commented on #239
Fragments live their own life, so I'm sure it's tricky.

I have not actually used RIBs though, but you most likely won't be able to use hacky things like `fragmentTransaction.addToBackStack(null)`.

[2018-04-19 11:30] jebarlin opened #240 "Example code on Plugin points and Plugin target build"
Need some sample code for using plugin points and implementing plugin target build

[2018-04-19 12:08] DebashisPorter commented on #239
Yeah, RIBs handles attaching and detaching of views. Also it maintains the backstack, so if i will use fragment then i think instead of attaching and detaching i will have to replace fragments and yeah as you mentioned i will have to handle fragment backstack.

[2018-04-19 13:30] Zhuinden commented on #239
You should probably use views with inflated fragments.

[2018-04-19 14:32] DebashisPorter commented on #239
Yeah, thanks Zhuinden...that should work, will do that.

[2018-04-20 18:16] dmarjanovic commented on #234
You can contribute PR with fix. ;-)

[2018-04-21 05:36] dron247 commented on #234
Ok

[2018-04-21 05:36] #234 closed

[2018-04-21 08:08] dron247 commented on #235
Remove `Retention` from `import` section in template and just replace it with
[code]

[2018-04-21 08:15] dron247 commented on #235
[code]

[2018-04-21 15:33] jorgecoca commented on #240
I believe they are discussing internally whether or not open sourcing this functionality.

In the meantime, as an inspiration for your own implementation, you can check this: https://eng.uber.com/plugins/ and this https://www.youtube.com/watch?v=vIdsYLXClZs

[2018-04-23 05:41] jebarlin commented on #240
Thanks, Jorgecoca.
if that is the case, they would not be giving all this Android tooling support for building RIB. Without plugin support, it will not be much use for the bigger applications.

[2018-04-23 18:53] jorgecoca opened #245 "Improve the RIB generator plugin with the ability to create a "ViewProvider"/"

[2018-04-23 18:59] jorgecoca opened #246 "[Android] Improve the RIB generator plugin with the ability to create a "ViewProvider"/"Screen" component"
Currently, the "New RIB..." plugin for Android only comes with two options:

- A checkbox for creating an optional view and presenter
- A checkbox for using Kotlin (in experimental phase)

I think it would be really convenient to add a third option, in the form of a checkbox, that lets you create a "Screen"/"ViewProvider" class for those projects using the **ScreenStackBase** class. I find myself

[2018-04-23 19:00] #245 closed

[2018-04-23 19:59] jorgecoca opened #247 "[Android] Create the .xml layout file when creating a RIB with presenter and view"
When using the "New RIB..." plugin on Android and you select the option to create a RIB with a view and a presenter, it would be nice if it created also the layout .xml under the layout folder, and also complete the information missing on the Builder. This step is always very repetitive on RIBs with an associated view, so it would be nice to avoid that boilerplate.

If this idea sounds good, I can

[2018-04-24 10:14] alterevit opened #248 "comand throw exception"
When i trying execute command ./gradlew :tutorials:tutorial1:installDebug i get next exception:

[code]

[2018-04-25 06:43] pbrazdil commented on #237
This looks valid. Are you sure it's leaking because of it?

[2018-04-26 22:18] jeffreyrr opened #249 "Any plans to publish ribs-0.9.2 to mvn?"
Currently stuck on version 0.9.1 on Android via maven central. Any plans to bump this to 0.9.2?

https://mvnrepository.com/artifact/com.uber.rib/rib-android

[2018-05-05 03:58] danleechina commented on #238
It seems that I found the problem. It's because I doesn't implement `- (BOOL)application:(UIApplication *)app openURL:(NSURL *)url options:(NSDictionary<NSString*, id> *)options`

[2018-05-05 03:58] #238 closed

[2018-05-10 01:27] rendecano opened #250 "Android Jetpack (Navigation Architecture Components)"
Hey guys, I'm sure most of you have already watched the Google IO 2018 videos particularly the newly introduced Android Jetpack..

They've introduced this Navigation Architecture component:
https://developer.android.com/topic/libraries/architecture/navigation/navigation-implementing#kotlin

This sounds like a RIB concept but with one RootActivity but instead of using plain Views objects, Fragments

[2018-05-10 11:41] dev4jam opened #251 "Unittests boilerplate code"
How do you generate mocked objects code? Noticed that every mock class contains repeating handler  + counter + function call sequence. Does anyone have sourcery template?

[2018-05-10 15:56] brightredchilli opened #252 "Questions: Why do boilerplates recommend to use components for the current RIB?"
The boilerplates in RIB suggest the usage of components and dependency as follows
[code]

This seems really strange: why aren't dependencies passed from parent ribs simply used in the builder directly? This is another way we could have implemented the above.

[code]

In this case, there isn't the redundant implementation of the `api` getter in FeedComponent. After all, at this point at least, we d

[2018-05-11 08:57] #239 closed

[2018-05-11 09:34] dcubot opened #253 "iOS-Tutorial-1 spelling mistake"
## LoggedOut UI
Below is the UI we want to build, so we'll need to modify the LoggedOutViewController. To save time, you can also use our code and add it to the ~~LoggedInViewController~~ **LoggedOutViewController** implementation.

[2018-05-11 10:05] DebashisPorter opened #254 "How to handle View navigation flow if RIB activity is killed"
If my RIB activity has three views View1, View2 and View3. Now user navigated from View1 to View2 and then from View2 to View3. Now if user put the app into background and opened another app. Then after sometime comes back to my app and by this time say the RIB activity is killed. So my RIB activity's onCreate() will get called. Now how do i navigate the user to the screen he/she was earlier i.e V

[2018-05-11 14:56] artman commented on #253
Thanks, fixed.

[2018-05-11 14:56] #253 closed

[2018-05-14 00:10] dev4jam commented on #251
Ok... I've implemented several custom Sourcery templates based on AutoMockable for Presentable, ViewableRouting, and Interactable... Seems like this is enough to cover 90% of the boilerplate mocking code.

[2018-05-14 00:13] dev4jam commented on #252
I guess that it's up to developer... This was just a hint how you can do isolated / one RIB only dependency

[2018-05-17 16:04] sbarow commented on #251
@dev4jam had a look at this today, what I noticed is `sourcery` won't be able to generate the inherited protocol methods for `Presentable`, `ViewableRouting` etc. unless you include the source for `RIBs` in the sources argument.

Example using `Carthage`, same could be done with `Cocoapods`:
`sourcery --config PATH/TO/.sourcery.yml`
[code]

Let me know if that helps?

[2018-05-21 09:09] garg-ketki opened #256 "Is there any tool which can generate state machine for RIBs at runtime?"
Is there any tool which can generate state machine for RIBs at runtime?
Reference: https://www.youtube.com/watch?v=FfwZSk6VRVY (Please check time: 27:43)

[2018-05-23 10:44] drougojrom opened #257 "iOS - Leak crash issue"
Hi everyone!
Just a small question, which is probably related to builder or router. When I’m trying to add another Rib module I have a crash with this message

![img_1059](https://user-images.githubusercontent.com/16073082/40419876-e1912fde-5e86-11e8-813b-bbb4cec3611c.PNG)

So, there is a leak in a Rib module which I’ve just created and trying to reach. Here is my build method.

![img_1060](https:

[2018-05-23 12:01] drougojrom commented on #257
The issue was related to detached, but not deallocated rib. Now it's resolved.

[2018-05-23 12:01] #257 closed

[2018-05-24 08:46] dron247 commented on #254
Inside each rib interactor you have an access to saved state bundle. So during saving state each interactor can write its state(vlues of variables, attached ribs etc) into that bundle, and, when it comes to restore all of them can read their states from that bundle.

[2018-05-30 12:15] lmrkllc opened #258 "iOS Tutorial 4 Complete - deeplinking not working"
I ran iOS Tutorial 4 - Complete on iPhone 6s plus and tried to deeplink but keep getting the following error:

Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)

I tried deleting  app and re-installing but no luck.

Sometimes it works when app is running.

Thank you,

Kenny

[2018-05-30 18:03] artman commented on #258
Could you post the stack trace?

[2018-05-30 18:57] lmrkllc commented on #258
@artman sure here it is.  thank you!

Incident Identifier: 2F14DF98-15D7-4BFF-A555-E2850FA2DB5A
CrashReporter Key:   4045dc79bcd58f176cf5fec24c8906a848373093
Hardware Model:      iPhone8,2
Process:             TicTacToe [1617]
Path:                /private/var/containers/Bundle/Application/39444625-B486-4C02-9CE3-7D83E4BC1969/TicTacToe.app/TicTacToe
Identifier:          com.ubercab.TicTacToe
Versi

[2018-05-30 21:03] lmrkllc commented on #258
Yeah, weird.  I tried to cleaning project, removing derived data and building but no luck.  :-(  Let me delete the project and start over and see if that helps.  Thank you for looking into it.  @artman

[2018-06-01 03:31] lmrkllc commented on #258
hi @artman,  I upgraded to iOS 11.4 and all is well now.   thank you for all your help!!

-Kenny

[2018-06-01 03:31] #258 closed

[2018-06-05 12:53] lmrkllc commented on #182
I have the same question as @kevinmun.  @kevinmun any answers/ideas to your question above?  thanks,  kenny

[2018-06-08 22:04] shubham01 opened #259 "[iOS] Implementing UITabBarController"
I am getting confused while creating UITabBarController.

Assuming it has 2 tabs, both of which are RIBs:

- When should the child RIBs be attached?
- Can all of them be active at the same time?
- When should the tab bar controller set its view controllers?

[2018-06-11 09:15] pashko00710 opened #260 "[Android] No cached version of com.uber.rib:rib-compiler-test:0.9.1 available for offline mode"
Hello everyone!

I decided to try RIBS.
Everything seems good, but not going with such an error (offline mode off).
The only thing I can sin is that I can't get through to this resource. No more ideas..
Has anyone encountered such a problem?

My build.gradle:

[code]

For help thanks in advance!

[2018-06-12 20:07] vchernyshov opened #261 "[Question] How to inject dependencies into view class?"
How to inject dependencies into view class?
Should I create new Dagger component and module with view dependencies and than directly instantiate component inside view and call inject method?

[2018-06-12 23:49] dev4jam commented on #259
Hi @shubham01, I would attach all child RIBs on activation. Definitely, you can activate all of them and you can set child view controllers on activation too. You may want to check this example here https://github.com/dev4jam/ToDo. There is a very similar use-case with Drawer (side menu) which requires content and menu view controllers (and RIBs) be set on activation.

[2018-06-14 08:05] pashko00710 commented on #260
This is a floating error. Maybe this solution helped me:

Add `--refresh-dependencies` command line option to the compiler (Android Studio > Preferences > Build, Execution, Deployment > Compiler)

[2018-06-14 08:05] #260 closed

[2018-06-15 18:06] jorgecoca opened #262 "[iOS] Interactor.didBecomeActive is called before ViewController.viewDidLoad"
It seems like any RIB, except for the Launching/Root RIB, when being attached, the lifecycle method `didBecomeActive` of the Interactor gets called before the lifecycle method `viewDidLoad` of the ViewController.
Since `viewDidLoad` is used, for example, for making XIB inflations, this means that views are not ready before the interactor is ready, so if you need to push an initial UI model/state t

[2018-06-18 14:51] dron247 commented on #261
Do not do that! Always use a presenter to communicate with a view! You can pass through presenter methods whatever listener you want, or get an observable etc. And you already have a link on presenter inside your interactor ready to do the job. Also keep the view as dumb as possible.

[2018-06-19 05:59] vchernyshov commented on #261
"Also keep the view as dumb as possible" - What are you talking about, view implements presenter interface in this architecture! I need to provide view-related dependencies, such as adapter, that uses rx diff utils, with its own schedulers, how should I do this, create dependencies directly in the view - as for me, not good idea.

[2018-06-19 06:18] dron247 commented on #261
You must inject them through presenter method, the view is being inflated inside the builder, you have no access to its constructor(sure you can create it manually in that method).
If you need a view that smart and decoupling to smaller ribs is not an option just put a method or property inside your presenter like
[code]
Inside your interactor
[code]
Thats it, easy, works, bulletproof

[2018-06-19 13:21] jorgecoca commented on #262
My mistake, this can be controlled by swapping the order of the methods in the router. Problem solved!

[2018-06-19 13:21] #262 closed

[2018-06-21 23:42] shubham01 commented on #259
@dev4jam Thanks a ton for creating this app!

[2018-06-22 12:20] MathieuBrousseIDO opened #263 "[QUESTION] Is it possible to make a RIB or a set of RIBs reusable in multiple projects"
Hi guys.
I'm currently evaluating mobile architectures solutions and found RIBs, it sounds very promising and it look like it can cover many of my requierments and i'm thinking of testing it really soon.
One information i couldn't find, is the reusability of modules built with RIB across differents applications.
So my question is : is it possible to develop RIB in dedicated projects and use them a

[2018-06-25 09:42] rahulsanjay1993 opened #264 "In Uber app, Android framework is not triggering the onFillRequest and not able to fetch the AssistStructure when a field is focused in Android O Autofill framework ?? Why and what is the workaround to get the AssistStructure ??"

[2018-06-26 14:28] igordeoliveirasa opened #265 "Interactor should implement UNUserNotificationCenterDelegate?"
I suppose since UNUserNotificationCenterDelegate declares business rules about receiving notification, the best place to implement that is at Interactor. However, UNUserNotificationCenterDelegate requires that the "implementer" be a NSObject. But I can't make Interactor be a NSObject.

I need some tips and thanks in advance..

[2018-06-28 02:44] dev4jam commented on #265
Just create something like a UserNotificationsHander service and add it as a dependency to your interactor

[2018-06-28 14:38] artman commented on #251
Closing as answered

[2018-06-28 14:38] #251 closed

[2018-06-28 14:39] #233 closed

[2018-06-28 14:40] #68 closed

[2018-06-28 14:40] #88 closed

[2018-06-28 14:40] #100 closed

[2018-06-28 14:41] #259 closed

[2018-06-28 14:42] artman commented on #256
We don't have any plans currently to open source our implementation, but that might change in the future.

[2018-06-28 14:42] #256 closed

[2018-06-28 15:50] pbrazdil commented on #263
This is exactly the right use case of this architecture.

Each RIB has independent inputs and outputs. So you can easily put it in the separate module and use it across multiple apps.

[2018-06-29 07:15] MathieuBrousseIDO commented on #263
That's what i was thinking.
I'm gonna do some tests but is there a recommandation on how to share RIBs across multiple apps ?

[2018-06-29 11:53] pbrazdil commented on #263
Generals rules apply, I remember there are some wwdc videos on this topic.

[2018-07-01 16:15] rohan-panchal opened #266 "OSX Compatibility?"
Was wondering if OSX compatibility was on the roadmap, or if not a potential discussion could be had on how to implement this?

[2018-07-04 07:46] vchernyshov opened #267 "[Question] How to handle error from stream?"
How to show the loader if the data is taken from several streams, as an option to zip two streams and in doOnSubscribe show loader, and remove it in doOnNext, but how to remove it in case of a error and how to understand in what stream error happened? Perhaps we need to wrap the data in the response with data, error and loading state?

[2018-07-04 11:49] rahulsanjay1993 commented on #264
@artman, Can you please help me with this ??

[2018-07-04 18:44] AttwellBrian commented on #249
I was under the impression that 0.9.1 and 0.9.2 only differ in the iOS implementation. Makes sense to release the Android version once there is new code in it.

Maybe we shouldn't be keeping the iOS and Android numbers in sync because it causes confusion like this ¯\_(ツ)_/¯

[2018-07-06 00:02] dev4jam opened #268 "How to open Deep Links, Notifications and 3D / Siri Shortcuts"
All these features are serving the same purpose — opening a specific app page / RIB. Curious to hear from Uber employees how do they think what's the right way of handling all these shortcuts. I experimented with workflows and faced with a problem that different actions are handled by different RIBs. For example, I have an app state (RIBs tree) which looks like:

Root -> LoggedIn -> Dashboard

Whe

[2018-07-10 18:12] dsrees commented on #265
I often implement the `UNUserNotificationCenterDelegate` on the same level as the `AppDelegate` and then utilize workflows to trigger behavior into the RIBs tree. This allows receiving a notification at the root and ensuring your app is launched in the correct state to handle the notification.

For example, if you receive a notification for a new message but user must be signed in to read the mess

[2018-07-20 04:19] lisacmer commented on #222
I feel like @kronik solution goes in conflict with the whole "business logic drives the app, not the view tree" thing. Considering this, seems like @neakor solution is better (it seems that this is the way this situation is handled in BasicScoreBoardViewController in tutorial) , but it doesn't solve a problem of routing submodule to subview before the main view did load. I was wondering if next ve

[2018-07-23 09:47] MathieuBrousseIDO commented on #263
Ok

[2018-07-23 09:47] #263 closed

[2018-07-30 19:45] igordeoliveirasa opened #269 "Detaching hook"
Does a routing know when it is going to be detached?

It's because I have a Routing (A) that contains 2 new routing being shown at the same time. When Routing A Listener closes Routing A, its 2 routings keeps in memory causing memory leak. These 2 routings are like: side menu and main viewController.

[2018-08-01 18:16] DebashisPorter opened #270 "Tests in RIBs"
How is the Test{RIB Interactor} class is generated upon compilation. I am not able to figure out why this class is not getting generated upon compilation. For e.g the TestLoggedOutInteractor class of the RIBs tutorial which gets generated upon compilation. There is no error message to know the issue. Can anyone please help me on this.

[2018-08-02 04:06] Hayashi2026 opened #271 "How to Handle Util with a context param?"
I have a DisplayUtil class with a static method,  but i can't get a context in an Interactor. And I don't want to keep a static context in DisplayUtil class and then inject it to Interactor. Is there any other way to handle it. How uber developer team to handle such problems?

[code]

[2018-08-02 04:09] Hayashi2026 commented on #271
`public class DisplayUtil
{

    public static int screenWidthPx; //屏幕宽 px
    public static int screenhightPx; //屏幕高 px
    public static float density;//屏幕密度
    public static int densityDPI;//屏幕密度
    public static float screenWidthDip;//  dp单位
    public static float screenHightDip;//  dp单位

    /**
     * 根据手机的分辨率从 dp 的单位 转成为 px(像素)
     */
    public static int dip2px(Context context, float

[2018-08-03 13:43] DebashisPorter commented on #271
You can provide the context from the Builder(say RootBuilder) so that you can inject it(construction injection) into your DisplayUtil class.
Now when you will inject DisplayUtil in the interactor, Dagger will see the Dependency of Context and it will pass it through your Builder.

[2018-08-06 19:52] igordeoliveirasa commented on #268
@dev4jam Did you find out?

[2018-08-20 17:30] artman commented on #266
We currently have no plans on adding OSX compatibility, neither have we looked at what that would mean in practice.

[2018-08-20 17:39] artman commented on #122
Closing out stale issues.

[2018-08-20 17:39] #122 closed

[2018-08-20 17:40] artman commented on #158
Closing out stale issues.

[2018-08-20 17:40] #158 closed

[2018-08-20 17:40] artman commented on #166
Closing out stale issues.

[2018-08-20 17:40] #166 closed

[2018-08-20 17:41] artman commented on #190
Closing out stale issues.

[2018-08-20 17:41] #190 closed

[2018-08-20 17:41] artman commented on #189
Closing out stale issues.

[2018-08-20 17:41] #189 closed

[2018-08-20 17:42] artman commented on #185
Closing out stale issues.

[2018-08-20 17:42] #185 closed

[2018-08-20 17:42] artman commented on #184
Closing out stale issues.

[2018-08-20 17:42] #184 closed

[2018-08-20 17:56] neakor commented on #183
Please see https://github.com/uber/needle/

[2018-08-20 17:56] #183 closed

[2018-08-23 03:56] jerryzhoujw opened #272 "What's the best way to call RIBs in applicationWillTerminate(:) ?"
Hi,

   I would like to do extra save in `applicationWillTerminate(:)` .  In where I only have a `LaunchRouting`
  Should I add `saveData()` in or somewhere else?
   And current my `saveData()` is in `RootComponent`.

[2018-08-23 04:15] #266 closed

[2018-09-05 20:36] igordeoliveirasa opened #273 "Best practices for using UITabViewController"
What's the best practices for this use case?

[2018-09-07 12:11] almozavr commented on #223
thanks for all the replies, and sorry for such a late response.
So, we've end up building something very similar to RIBs but with the help of conductor & kodein: it turned out conductor has *everything in place to be the perfect android-to-mvp glue code and scoping / routing framework, also the kodein helps a lot with dealing with scopes dependency tree in a much more simple (but, yes, non-compile

[2018-09-11 07:37] dzzh opened #274 "[iOS] Regression in Component.shared behavior in Xcode 10"
Because of https://bugs.swift.org/browse/SR-8704, there's a regression in `Component.shared` behavior. In Xcode 10, it always returns nil when invoked inside functions that have optional return types.

D2055355

[2018-09-11 08:09] sbarow commented on #273
Its just a ViewController so you can use it with RIBs. The only thing to think about is the data which is used by the ViewController. Generally you want to "transform" data from your Interactor which would be loading/requesting data from somewhere to the ViewController which could be done in multiple ways e.g having a separate Presenter between Interactor & ViewController, directly in the ViewCont

[2018-09-12 16:30] alterevit opened #276 "Using googleMaps on Android with RIBs"
Hi, we have an application on the RIBs architecture,
We need to embed maps into the application, and we planned to use GoogleMap, but they have to map MapView to the life cycle of the activity or fragment.

The above example of use in the tutorial does not work at all in this architecture
https://developers.google.com/maps/documentation/android-sdk/map-with-marker

using `<fragment>` in view or ad

[2018-09-12 16:52] asvid commented on #276
Why you don't use MapView in RIB layout?https://developers.google.com/android/reference/com/google/android/gms/maps/MapView

[2018-09-14 16:49] #274 closed

[2018-09-28 05:51] qichuan commented on #218
I encountered the same problem. @datnt1987 How did you resolve it?

[2018-10-05 18:19] davidseek opened #277 "Tree creation tool"
Hey guys.

First of all thanks for the open source.
Loved the tutorials. Very easy to understand.

Question tho.
I expect that your tool to create Tree is an intern thing?
Could you open source it? Or sell it? Or provide a link?

I'm using mind node,
but I prefer your way of handling the parent nesting.

![state](https://user-images.githubusercontent.com/17073950/46552760-8f4f8800-c890-11e8-8620-3

[2018-10-06 19:51] kovpas commented on #277
As far as I know, it's [lucidchart](https://www.lucidchart.com/) + basic img-to-gif converter :)

[2018-10-07 02:39] ermik commented on #270
The test classes can be created using the tooling templates. Are you developing Android or iOS and what steps have you gone through?

[2018-10-07 17:17] davidseek commented on #277
Sweet. It is lucidchart. Tried it out and got the desired results! Thank you!

[2018-10-07 20:27] ermik commented on #277
What about the iOS debugger webapp that shows RIB's attached/detached?

[2018-10-08 01:01] davidseek commented on #277
That would be epic to know.

[2018-10-08 12:49] ermik commented on #277
@artman was using it for [his Devoxx presentation](https://youtu.be/FfwZSk6VRVY?t=1639):
![image](https://user-images.githubusercontent.com/229435/46609793-f65e7e00-cad6-11e8-87f2-84f6c3a576ce.png)

[2018-10-08 12:57] ermik commented on #240
A simple tutorial, whether as part of an open-source effort or as a temporary fix for not having one, would go a long way. The Plugins blog post is actually pretty brief. If someone looking for spoils of plugin architecture — check out [Rider Onboarding](https://eng.uber.com/mobile-onboarding/).

[2018-10-08 12:57] sbarow commented on #277
I don't believe we have any plans to open-source the tool.
cc @rudro

[2018-10-08 12:58] ermik commented on #267
Isn't there a RxJS `catchError` you can use?

[2018-10-08 13:00] ermik commented on #269
Afaik you have two options:
1. Propagate the signal up the listener chain.
1. Propagate the change to the state of the application via Rx, which will loop back to all components listening for state changes, and then you can unmount a branch of the tree in one of the parents (watch out for memory leaks).

[2018-10-08 13:07] ermik commented on #277
Would be nice to officially float the idea and have it considered as a sleek DevTool complementary to the RIBs framework. If there is IP that is part of the tool that is an issue here — some sort of nod to the community, so that we could build our own, is required. It isn't that hard, is it?

[2018-10-08 13:11] kovpas commented on #277
To be completely honest, the tool is very nice for presentation purposes, but I've never used it during development. There might be a use-case to catch memory leaks (i.e. RIBs are staying in memory, while they should be deallocated), but there's already a [memory leak detector](https://github.com/uber/RIBs/tree/master/ios/RIBs/Classes/LeakDetector) available in RIBs.

[2018-10-08 13:12] ermik commented on #246
I think further bloat in number of options on the template screen is not necessarily a good thing, but an example that you can share with the community (via Medium perhaps? 😉) will help RIB adoption everywhere! (Certainly will help me to get going, totally self-serving, I know.)

[2018-10-08 13:28] ermik commented on #277
(Just one more observation before I surrender.) From a perspective of an experienced iOS engineer, let alone someone who is part of Uber organization — I can imagine — it is not terribly helpful to have this during dev. Especially if one is not working on the core tree, (e.g. creating plugins). If you consider someone just discovering RIBs with a desire to learn about clean, scalable architecture

[2018-10-08 13:55] kovpas commented on #277
That's a good point. Let's wait for @rudro or @artman to answer if there are any plans on open-sourcing the tool.

[2018-10-08 18:57] artman commented on #277
We did want to, but currently don't have enough time to devote to this.

[2018-10-08 18:57] #277 closed

[2018-10-08 18:58] #249 closed

[2018-10-08 18:58] #267 closed

[2018-10-08 18:58] #269 closed

[2018-10-08 18:59] #273 closed

[2018-10-08 18:59] #271 closed

[2018-10-09 04:33] davidseek opened #278 "Networking best practice"
Hey guys,

I'm curious of what you'd suggest as best practice to implement a networking layer.
As an example, let's take a social media App with a User model.
This model can be edited at several locations in the App.
For example the User can like something, he can add something, bookmark something.
For the sake of the argument let's say that all likes, bookmarks, adds are stored into user model it

[2018-10-09 13:28] ermik opened #279 "[iOS] Accessing application superview"
I got a bit turned around trying to figure out where exactly the Root builder can access the application superview (for example for overriding safe area constraint on iPhone X). Does it have to be passed down via AppComponent or is it accessible in LaunchRouting?

[2018-10-10 21:21] davidseek opened #280 "XY Leaked Issue"
To incorporate RIB into one of my bigger projects I have currently implement a structure like the following:

<img width="555" alt="screen shot 2018-10-10 at 2 11 47 pm" src="https://user-images.githubusercontent.com/17073950/46766319-84349780-cc96-11e8-9b7a-73908cb4cd94.png">

Home is not part of RIB anymore and gets called in `ProcessCompanyRouter`.

`self.viewController.uiviewController.present

[2018-10-10 21:43] davidseek commented on #280
For testing purposes I have replaced the Rx logic and replaced with:

[code]

and

[code]

and

[code]

`RootInteractor.swift`

[code]

Same problem

[2018-10-11 05:48] dangthaison91 opened #281 "[iOS] LaunchRouter should not come with ViewController"
In other way, should **LaunchRouter** come with **UIWindow** only.  When it attaches child RIBs, child's **ViewController** will be set as **rootViewController**?

This will remove **unused** RootViewController and give it's child flexibility.

What do you think? I'm willing to make a PR.

[2018-10-11 07:33] sbarow commented on #281
Can you give an example of when a RootViewController is **unused**? In the case of having an app that has a logged in state its useful to have a RootViewController that can embed the logged in or logged out controller.

[2018-10-11 08:17] dangthaison91 commented on #281
@sbarow We want to attach many types of ViewControleller like UITabbarViewController/UINavigationController... and we want make it as **window.rootViewController**. So when you in logged in state, you can embed LoggedInViewController as rootViewController of UIWindow.

[2018-10-11 08:51] dangthaison91 commented on #281
At the moment, LaunchRouter will have RootViewController and never be detached, always be window.rootViewController. So we can only present/push child ViewController from root.  We want something like this:

**RootRouter:**
[code]

If there are other way to do this, please tell me?

[2018-10-11 15:02] davidseek commented on #280
I'm detaching the child and dismissing the controller through the clean up methods.
But I have changed that from Rx to a delegate coming from the controller that first removes
the controller and then detaches the child and now the leaks seems to be gone.
And no, I did not check the memory graph. I'm sure that it will come up again and then I will check and reopen this. Thank you tons for your time

[2018-10-11 15:02] #280 closed

[2018-10-11 15:09] dangthaison91 opened #282 "[Question] How to divide Hierachy Scope"
We are trying to adopt RIB by subdividing app into deep hỉeachy scope like your blog post. But sometimes, our feature has many steps, each step attached based on some conditions and may create another condition. So if we divide scope for each state, we will be leading to create a scope tree with so many levels and some RIBs (often be viewless RIB) act as a router.
We don't have any rules or guidel

[2018-10-11 16:39] ibrahimkteish opened #283 "Live RIBs tree"
Could you please share with us the tool for view the RIBs tree in real time.

[2018-10-11 20:08] kovpas commented on #283
Duplicate of #277

[2018-10-11 20:08] #283 closed

[2018-10-11 20:56] dev4jam commented on #282
hey @dangthaison91 I don’t see any major issues in your diagram. What’s the problem? Regarding your diagram I’d remove SignOut (unless it’s a particular screen) and moved back to LoggedOut rib. You also may want to try to scope your app based on screens first (rather then screen states). And later if some RIB became very complex split it into smaller RIBs.

[2018-10-12 06:58] tyoc213 opened #285 "Cant build tutorial samples on ADT Windows"
Just downloaded the zip, opened inside ADT and I cant compile with `gradlew :tutorials:tutorial1:installDebug --info --debug --scan`.

Here is my scan https://scans.gradle.com/s/kkyk7oh5yml22

So what to do to be able to run tutorials?

[2018-10-12 14:21] #246 closed

[2018-10-13 12:37] sbarow commented on #281
You could just do:

[code]

[2018-10-14 03:02] ermik commented on #279
The AppDelegate in tutorials uses `UIScreen.main.bounds` which reports the iPhone X safe area bounds, rather than entire screen. Changing the value passed to the `UIWindow` initializer will help make use of the entire screen.

[2018-10-14 03:02] #279 closed

[2018-10-14 19:16] tyoc213 commented on #285
I think the tutorials are a little outdated, if it is true, I will send a PR soon (in the next week).

Also, this error was my fault I did enter to the place where the tut is located and did run the gradlew command there, but it seems that it doesnt work (or partially work), but if I open it with ADT I can run the different source code tutorials which work.

[2018-10-15 12:04] dangthaison91 opened #287 "[iOS] Replace RxSwift Variable with BehaviorRelay"
From RxSwift 4.0, Variable is marked as DEPRECATED and will be removed soon. We should update `LeadDetector` to using `BehaviorRelay`.

Caused BehaviorRelay is a part of RxCocoa, we have to add RxCocoa as a dependency in podspec. Another option is to pull BehaviorRelay's code from RxSwift source only and add it to current Uber RIBs.
I voted for option 2 because current BehaviorRelay code is simple

[2018-10-19 20:55] ermik opened #288 "[Questions] Best practices for modular codebase"
Not actionable. Please keep going as community wiki.

RIBs provide an extraordinary level of decoupling to the code, but there is always more separation that can improve agility in a large teams. Splitting the project into modules (e.g. Xcode sub projects and frameworks) is one of those improvements and I’m hoping for a bit of input from the RIBs authors on how to strike a right balance between th

[2018-10-22 19:02] dangthaison91 commented on #281
@sbarow Thanks, but I didn't find a place to put this code. RIB should know their child but not the parent? So they should not change the view hierarchy from the root. I prefer to introduce a Router that will hold a UIWindow reference let developers decide how to use it.

[2018-10-23 07:30] sbarow commented on #281
I don't understand what you mean by

Regardless of if you have a Router that has a reference to the UIWindow or not you are going to have to be able to call the methods needed to replace the window.

The above code should work for you, it should live in your "Root" router, your children would communicate to its parent that they want to transition to one of the routes through the listener interface

[2018-10-25 16:58] melbystyle commented on #261
Whats the suggested way to do this?

[2018-10-25 18:40] ermik commented on #261
You guys should watch out for when [uber/needle](https://github.com/uber/needle) drops.

[2018-10-25 18:55] sbarow commented on #261
@ermik looks like this is an Android question, `needle` is for iOS, the Android counterpart is [uber/motif](https://github.com/uber/motif)

[2018-10-26 23:47] davidseek opened #290 "Best practice of visual presentation of hierarchy tree"
Hey guys. Regarding visual presentation of the hierarchy tree
of the architecture of the App...,
Would you rather display it like A (left) or B (right)

<img width="1351" alt="screen shot 2018-10-26 at 4 44 40 pm" src="https://user-images.githubusercontent.com/17073950/47596879-7e011500-d93e-11e8-9ac8-2c6a87a70357.png">

The question is here for whatever cost (lots of duplicates) stick to the tree

[2018-10-26 23:54] davidseek commented on #288
+1

[2018-10-26 23:54] davidseek commented on #268
+1 for best practices

[2018-10-28 12:00] jaychang0917 commented on #288
RIBs is awesome! I have few questions about how Uber manages service APIs as there are some similar services among Rider app and UberEats, such as destination searching (i.e. _Where to_).

Is there a separate module to hold these services for sharing among two apps or two sets of services in each app?

[2018-10-28 16:30] ermik commented on #278
I think interfacing through Rx is best bet for decoupled architecture such as RIBs. Any given `Interactor`, while holding key business logic, is not supposed to have knowledge about the intricacies of communicating the results of that logic to any other entity within the app, let alone communicating with storage or over the wire/air. So second option you've described is the closest, but you should

[2018-10-28 16:37] davidseek commented on #278
Understood. That makes a lot of sense.
Thank you for the insight and I will implement it like that.
Right now I have implemented it like in the 2nd option.
But I will replace it with an Rx primitive. Thank you!

[2018-10-28 16:37] #278 closed

[2018-10-28 16:46] ermik commented on #290
I think you might be confusing the __screen flow__ of the app and the actual __RIB hierarchy__ mounting and unmounting. Here's what I would expect to happen:
![image](https://user-images.githubusercontent.com/229435/47618966-70b76800-daaf-11e8-9e3f-c5463a17cd2f.png)

[2018-10-28 16:53] davidseek commented on #290
That is how i'm doing it.
I'm just curious about the best practice of how to create the flow chart in general.
As mentioned above. I have 2 options.

Either I display it in a tree kind of way where you have Editing with all of Editing Sub RIBs repeatedly presented on the chart.

Or I'm not displaying it as a tree, but nest the elements so that Adding leads visually to Editing as well as Listing.

[2018-10-29 05:10] rudro commented on #288
A wrapper to talk to our end-points are auto-generated, as are all the models that the JSON get deserialized into.  We use Thrift (https://thrift.apache.org) specs to specify all the API endpoint details.

Yes, there are models shared across our apps. There are both low-level libraries (like storage or analytics) as well as modules at the level you're asking about.  They aren't usually just the co

[2018-10-29 05:15] rudro commented on #288
We use `git`.  We do not use submodules.

I'm  not quite sure I understand the question about importing at higher levels.

We use buck (https://buckbuild.com) to manage our modules and generate Xcode project files.

We don't use CocoaPods.  All of our iOS code lives in a monrepo.  There's an overview of buck+monorepo+no cocoa pods here : https://eng.uber.com/ios-monorepo/

[2018-10-29 11:09] melbystyle opened #291 "[android] handleBackPress()"
Shouldn't backpress be propagated down to the lowest child interactor instead of the interactor associated with the RibActivity which is RootInteractor?

[2018-10-29 23:03] ermik commented on #291
Message propagation is the responsibility of the developer — you are free to handle it as you see fit, while making use of the architecture that RIBs provide (e.g. you can unmount an entire subtree) and relevant patterns such as Rx Observables.

[2018-10-29 23:11] ermik commented on #290
This obscures the application architecture; if you are looking to show the business logic tree stick to doing it the way Uber has shown in numerous blog posts and talks, possibly animating it using img2gif or presentation recording; if you are instead looking to show the flow through the app invest in developing Personas and Journey Maps as well as other UX materials. I would kindly suggest not mi

[2018-10-30 08:02] ccykevin commented on #291
Is there have any example? i would want to know the way which propagated down to the lowest child interactor or Creating a Observable object let the interactor subscribe it? like what you said we dont wanna break downb the structure of Ribs, im finding the way can only few ribs implement onBackPressed, it can allow us to back the first view of scope, anyway thanks for ur help, i would like to impl

[2018-10-30 15:28] AndrewSB opened #293 "[ios/tooling] the install-xcode-template fails if file permissions aren't exactly as expected"
It looks like the bash script has no error handling, so when mkdir fails the script isn't able to copy over the templates. Due to the lack of error handling the script still thinks it succeeded

[code]

[2018-10-31 09:05] sbarow commented on #293
Is this still valid based on #292 292

[2018-10-31 16:25] AndrewSB commented on #293
I'll double check later this week -- it may have been some confusion within #292, but I'm not sure right now

[2018-11-01 21:39] #232 closed

[2018-11-04 14:53] dangthaison91 commented on #281
Hey, I end up by creating WindowRouter for internal use. Thanks for supporting @sbarow

[2018-11-09 08:00] rosone opened #294 "android studio plugin doesn't appear in new menu"
Hi Sir

I didn't see RIBs plugin after import that rib jar plugin.

could you help me?

~Rosone

[2018-11-11 16:07] ermik opened #295 "[iOS] RIBs do not conform to NSObjectProtocol"
As much as I would like to put ObjC(pp) world to pasture, the truth is interop exists and in some cases such as IGListKit or AsyncDisplayKit it is a pleasure to be working through all of the inherent difficulties because of how sweet the reward is. Unfortunately, implementing one of the exposed protocols may not be as simple as we'd like:
[code]

There are plenty workarounds, I'm sure, but what wo

[2018-11-13 06:05] usherdl commented on #294
me too . android studio 3.2.1

[2018-11-17 20:45] #295 closed

[2018-11-18 05:14] Byku commented on #210
Tutorial3:
In the [example code](https://github.com/uber/RIBs/wiki/iOS-Tutorial-3#display-the-scores-by-subscribing-to-the-score-stream) there is weak var inside protocol.  But XCode doesn't like it:

[2018-11-19 10:11] gogovan-terrypang opened #296 "[Question] Passing data across RIBs"
Given that
1.  there are two RIBs modules, `A` and `B`
2. `B` is attached to `A` and `A` presents `B`
3. `B` reads data from `A` via `dependency/stream` and displays the data

^this above scenario is pretty straightforward.

My question is, what if I want to add a dummy/pure UI screen `C` in between `A` and `B`.
so the new flow is like...
`A` presents `C`(only contains a button which navigates to

[2018-11-19 13:00] sbarow commented on #296
`C` would just be controlled in `A`'s view controller meaning `A` presents `C` and when the user clicks the button in `C` the call chain would be:

`C -> A (ViewController) -> A (Interactor) -> A (Router) present B`

[2018-11-19 13:15] gogovan-terrypang commented on #296
thank so much for your quick reply.

but is that really possible?
I mean inside the interactor of `A`, I need to dismiss `C` first? before I present `B`?
or you meant there is a way for me to trigger the router inside A's interactor to do the job when the user clicked the button on `ViewController C` 🤔

[2018-11-19 13:23] GopiNeelam1925 opened #297 "Failed to resolve: project::libraries:rib-android"
Hi ,
   This rib-android module is added in settings.gradle file also.And unable to figure out this one please help me.

[2018-11-19 13:42] sbarow commented on #296
Well like you said C is just a pure UI component, so A Interactor doesn't need to know about it. It should be handled purely by A and A would communicate with the its Interactor.

[2018-11-19 15:01] gogovan-terrypang commented on #296
sorry to bother you once more.

I understand if `C` is just a popup or modal view, then `A` interactor can easily handle it.
Let me clarify my original question(sorry maybe it was not clear),
what if `C` is a ViewController, not a view / simple UI component.
`A interactor's router to C` and then where should I implement the routing logic from C to B
to provide more details.
assume
A B C are both v

[2018-11-19 15:02] sbarow commented on #296
`C` should be a RIB in that case then.

[2018-11-19 15:07] gogovan-terrypang commented on #296
that means I need to create a dedicate RIB for that non-business logic navigation and in order to pass the data stream down the RIB tree? 🤔
and if the PM suddenly changes the requirements again(it happens), and we need to add two extra tutorial pages in between C & B. then we need two extra RIBs.
is that true 🤔 ?
(PS: I think after this one, we can close this issue. by the way, I think RIBs team s

[2018-11-19 15:23] sbarow commented on #296
A view doesn't have to be seen as one RIB. `A` could be the parent of `C`, `D` & `E` (`D` & `E` being new screens your PM asked for), when I say parent I am specifically referring to c, d, e being child view controllers of a.

So in your example `A` starts, it then displays its view, user clicks a button `A`'s ViewController lets the Interactor know it processes that piece of logic, the Interactor

[2018-11-19 15:48] gogovan-terrypang commented on #296
so can I interpret your suggestion as we may need to use Container View Controller (for iOS) or Fragment (for Android) to wrap them into one single RIB, correct? 🤔

[2018-11-19 15:49] gogovan-terrypang commented on #296
thanks so much 👍

[2018-11-19 15:49] #296 closed

[2018-11-19 18:57] ermik commented on #206
Please also see #269 #232 as well as #170.

[2018-11-19 18:57] ermik commented on #296
Please also see #269 #232 as well as #170.

[2018-11-20 12:53] ermik commented on #210
@Byku would you be willing to make a PR after going through all of the examples in the tutorials?

[2018-11-20 19:43] gogovan-terrypang opened #298 "Questions about streams data-flow"
1. So the data flow of RIBs architecture is basically from top to bottom. So does that mean all the data stream that child RIBs needs, need to be prepared/ready ahead of time at the Root RIBs?
If yes, which means all the APIs/networking calls/database operations are all happened within the Root RIBs?
2. If the Root RIBs stores the whole app state, are all those streams being initialized at the boo

[2018-11-20 20:07] gogovan-terrypang commented on #298
Referring to this article from Uber engineering blog
https://eng.uber.com/deep-scope-hierarchies/

Are there any criteria, what kind of object/state should we use the `intermediary scope layers` approach, but not creating a DI stream at Root and feed the child Ribs as a dependency?
What should we concern? Does that require API call?
The use case that comes up in my mind is maybe the registration s

[2018-11-21 07:28] gogovan-terrypang opened #299 "Can I hook up a ViewController with multiple RIBs?"
I am experimenting with all the possibilities of RIBs. And then I got stuck at a point.
Seems like `Presentable` must be a `ViewControllerType` in iOS, that means I can not use `UIView` as a unit.
But how about I create a single `UIViewController` and I `extend` the ViewController with multiple RIBs 's `presentable`?

[2018-11-26 01:15] ermik commented on #299
You can add as many subviews as you need to the ViewController; you can extend the delegate/listener pattern to have `UIView` talk back to the presenter if needed. But mainly i would suggest thinking about a single `UIViewController` as a terminus point for RIBs: the logic below the VC is beyond the scope of RIBs architecture.

The other concern here is that VC - View relationship is one with perf

[2018-11-28 08:14] vrmmoreira opened #300 "Hi, how do i use RX to get a real time view of the Ribs hierachy tree"
Hi,

i'm trying to on IOS get a real time log on the Ribs tree, how can i do this?

thanks,
Vitor

[2018-11-28 23:30] artman commented on #261
Closing thread as stale.

[2018-11-28 23:30] #261 closed

[2018-11-28 23:31] artman commented on #265
Closing as answered, thanks @dsrees!

[2018-11-28 23:31] #265 closed

[2018-11-28 23:32] artman commented on #223
Closing thread as stale.

[2018-11-28 23:32] #223 closed

[2018-11-28 23:36] artman commented on #288
Closing thread as stale.

[2018-11-28 23:36] #288 closed

[2018-11-28 23:37] artman commented on #210
@Byku, please do.

[2018-11-28 23:43] chschen opened #301 "[Question] Mutate within RIB vs Attach/Detach state-specific RIB"
Say Uber has the following business logic:
[code]

When mapping out the RIBs tree, it seems my options are either:
[code]
OR
[code]

They both seem to have severe downsides: either a huge tree with lots of duplication, or RIBs with  huge switch cases inside. Is there one that makes more sense to adopt than the other? Or am I missing something and there's a better way to build this RIBs tree?

[2018-11-28 23:44] artman commented on #300
You'd have to implement this yourself. The way we do it at Uber is to send events from each interactor's lifecycle to a manager that then can reconstruct the RIB tree based on create/remove messages it receives.

[2018-11-28 23:44] #300 closed

[2018-11-28 23:49] artman commented on #301
The first option is pretty overkill as there's a lot of repetition (and you still have a switch case on the country that you're in). We use your second option everywhere and frankly it's never been a problem. It's in the nature of interactions to take in data and then make decisions on what children to attach, so attaching the UberEats based on some external condition is what interacts are there f

[2018-11-28 23:53] #281 closed

[2018-11-28 23:54] artman commented on #276
Closing as stale.

[2018-11-28 23:54] #276 closed

[2018-11-29 00:01] chschen commented on #301
Got it, option 1 definitely feels wrong given the sheer size from copy pasting.

As for not going straight with option 2, the main reservations were:
* having switch cases within a RIB where we know the number of cases will keep growing for sure (e.g. locations)
* seemingly mixing of rules: state of `UberEats` managed by attach/detach, state of `Location refinement` managed by itself

To combat th

[2018-11-29 00:11] artman commented on #301
Not sure if this applies to your case, but location refinement should most likely be moved to a parent interactor, or have a server made the decision for you. The menu should really just know what features are enabled, and not make the decision whether to enable one particular feature.

At Uber we've created a [plugin framework](https://eng.uber.com/plugins/) for this (and to tackle your first poi

[2018-11-29 07:53] gogovan-terrypang commented on #299
got it thanks for your reply

[2018-11-29 07:53] #299 closed

[2018-11-29 07:56] gogovan-terrypang commented on #301
Concept wise, I understand. But is there a code example, how to implement the `Plugin Point`. Just a simply one would help a lot.
<img width="221" alt="screenshot 2018-11-29 at 3 54 25 pm" src="https://user-images.githubusercontent.com/44961031/49207160-1fbccb80-f3ef-11e8-933f-2cbc79c91685.png">
<img width="205" alt="screenshot 2018-11-29 at 3 54 31 pm" src="https://user-images.githubusercontent.c

[2018-11-29 13:21] chschen commented on #301
At what point should one start using the plugin framework? It seems like you should use the plugin framework when many RIBs are parent to large numbers of children?
From what I understand the job of the plugin framework relates to what you said

[2018-11-29 14:09] chschen commented on #301
I see, but what is the difference between deciding "switch on/off" with a plugin framework vs. with plain RIBs in the interactor like what @artman mentioned above?

[2018-11-29 15:56] tailec opened #302 "[iOS] Displaying view controller on parent RIB in nested hierarchy"
I have this hierarchy:
![38175663-1243b9c6-35d8-11e8-8e69-cb9432651e23](https://user-images.githubusercontent.com/10499966/49233873-da000300-f3ee-11e8-80ab-f27ce9bea9fe.png)

I'm trying to display view controller of component **D** (low-level) in view controller of component **Root** (which has navigation controller, so basically I need to call `show(vc, sender: nil)`).

However in this nested hie

[2018-11-30 01:39] ermik commented on #298
Use common sense and make sure that dependencies are narrowly scoped to only those consumers that require them. Make use of Rx extensions especially where you have to pass streams or variables rather than objects. If you have an example of an issue you're trying to solve and some code that you're having a problem with — make an example repo which will make it easier to help.

[2018-11-30 09:58] sbarow commented on #301
The way that our plugins work is they check for applicability, if a RIB is applicable then it will be built, if not then nothing happens. With the mentioned approach of using `attach/detach` you would need to build the RIB's first and then activate them.

[2018-11-30 19:39] JulianHunt opened #303 "[iOS] Dependency(?) injection after Router has been created."
From the tutorials it seems that the dependencies must be passed in to a child rib before you are ready to display said child Rib. What is the convention for passing data that will be needed by the child rib that is entered into (i.e: a textfield) the parent rib?

For example:
-Rib A has a spinner picker that lets you pick one of 3 types (an address, a contact or a credit card) and a button that t

[2018-12-04 16:57] ermik commented on #303
Use RxSwift, ability to mutate reference types, or rebuild the rib using the builder preserved in the parent router.

[2018-12-04 18:51] JulianHunt commented on #303
Trying to find a solution without Rx, team is to junior for adding Rx to be viable right now.

[2018-12-04 19:54] ermik commented on #303
@JulianHunt you case is _perfect_ for Rx. As far as I can see you have to sibling RIBs that need to communicate and this architecture (I assume you've made a conscious choice to use it) makes heavy use of Rx toolkit to maintain component independence (decoupling) and maintain reversed dependency flow. You don't have to use Rx in all of your project, but I urge you to consider adding it in situatio

[2018-12-05 07:47] melbystyle commented on #291
Yes please can someone provide canonical examples?

[2018-12-05 08:11] melbystyle opened #304 "[Question] Why is Router.getChildren() private?"
Title says it all. I want to propagate backpress events to child routers. I cant do it unless I maintain my own stack of listeners which is cumbersome.

[2018-12-08 18:01] Byku commented on #210
There are no errors in the code. The error's only at wiki page, but github doesn't allow create pull requests to wiki pages.

[2018-12-10 20:46] ermik commented on #210
@Byku I totally forgot about that, how silly of me. If you could, please go over the example code in the wiki and the source code to make sure this is correct, then summarize your findings for one of @uber staff members whom will fix the errors you can't make a PR for.

If this is not something you are interested in doing please respond so that other people may take it on.

[2018-12-10 21:18] artman commented on #210
@Byku happy to help to get your fixes over to the wiki. You can clone the wiki source from `https://github.com/uber/RIBs.wiki.git`.

[2018-12-14 19:47] larryng opened #306 "[Question] Using Motif with RIBs"
I'm currently exploring using Motif with RIBs, but I'm not seeing a way forward since RIBs seems to depend heavily on passing Dagger Components around, which are not exposed by Motif Scopes.

Does Uber use Motif with RIBs at all?  If so, could the maintainers provide some guidance how?

[2018-12-17 18:30] Leland-Takamine commented on #306
We've made some minor changes to the base classes internally to support Motif with RIBs. I'll work on porting those updates to this repo soon. I'll also add some Motif examples to this repository after those changes land.

[2018-12-17 19:16] larryng commented on #306
Great, looking forward to it!

[2018-12-18 00:20] #298 closed

[2018-12-18 00:41] gogovan-terrypang opened #307 "[Question] About dagger usage in Kotlin"
Hey there, our team is developing our new app using RIBs and Kotlin. We had played around with the java tutorial project. So first we tried to rewrite the java tutorial project in Kotlin but seems like the dagger part does not work as we expected.

Referring to tutorial 3
https://github.com/uber/RIBs/wiki/Android-Tutorial-3

We tried to DI the `player_one` and `player_two` from `LoggedIn` to `OffG

[2018-12-18 06:42] #301 closed

[2018-12-20 07:34] melbystyle commented on #307
try
[code]

[2018-12-21 03:03] melbystyle opened #308 "[Question] [Android] How do you manage view hierarchy across nested RIBs?"
Should something like LoggedInView know about views of some other view nested in some sibling view? Is it the routers responsibility? How exactly do we do animations and transitions on views across nested RIBs?

[2018-12-21 05:03] melbystyle commented on #291
#304

[2018-12-21 06:45] gogovan-terrypang commented on #307
thanks @melbystyle  the team said it works

[2018-12-21 06:45] #307 closed

[2019-01-11 23:51] larryng commented on #306
Hey @Leland-Takamine any updates?  I'm working around the issue for now with my own RIBs fork, but I'd rather not put extra effort into making it good if there's official support coming soon.

[2019-01-12 00:15] Leland-Takamine commented on #306
Hi @larryng - Sorry for the delay on this. We are still in discussions internally regarding how we plan on upstreaming changes to this repository moving forward (if at all). Upstreaming support for Motif in particular is blocked on these discussions as our internal changes are a bit of a hack to maintain backwards compatibility. We'd need to decide whether to port the same changes to this repo or

[2019-01-12 17:47] larryng commented on #306
Good to know.  I'll keep working on my own hacky fork then.  If you have any further updates, I'd appreciate it if you could please keep us posted.  Thanks!

[2019-02-13 13:06] xzeror opened #312 "What about bumping version to 0.9.2"
RIBs implementation for iOS in version 0.9.1 doesn't equal to implementation in HEAD.
Steps to reproduce:
1. Checkout RIBs HEAD.
2. Change Podfile in any tutorial removing ```path: = "..."```
3. Run ```pod install``` for this tutorial.
4. Open tutorial workspace in Xcode.
5. Build project.
Result: build failed with error: ```AppDelegate.swift:40:9: Value of type 'LaunchRouting' has no member 'laun

[2019-02-20 15:36] tvanfossen opened #313 "[Android] Resolving Build Issues for Feb 2019"
After some time trying to get tutorial 1 working on Android Studio 3.3.1 I have figured out several changes to the build files to get it to work (as of Feb 2019). The version changes may be different for each person, but these are what I needed to change to get ./gradlew :tutorials:tutorial1:installDebug to work

I would suggest adding them into the tutorial to make it a bit easier to get running

[2019-02-27 15:16] tvomaincare opened #314 "[Android] Using toolbar"
Hello,

We are currently trying to build a new Android application using RIBs architecture which you provide. As many Android application, we use a toolbar which enables us to navigate threw RIBs with back navigation icon.

We don't want to set a toolbar in each RIBs layout to avoid code duplication, so we set a toolbar into the RootView.

Here is our issue : **how can we propagate click on naviga

[2019-04-03 10:00] RubenEsposito opened #317 "[Bug] [iOS] Swift 5"
Error when compiling under Swift 5, Xcode 10.2. Fixed by changing `open let dependency: DependencyType` to `public let dependency: DependencyType` in file `Component.swift`

[2019-04-04 12:09] sbarow commented on #317
Should be fixed with #316

[2019-04-13 01:04] AdieOlami opened #318 "RIBS"
How is RIBs different from Reswift?

[2019-04-13 16:30] ermik commented on #318
**Reswift**, in general terms, is an implementation of a patterns introduced by _Flux_ and _Redux_ libraries for Swift programming language — it provides a way to communicate between different components using state updates and reducers.  RIBs is a framework that enforces isolation of components (decoupling). In fact, you could use `Reswift` with `RIBs`, but Swift implementation of Rx patterns is

[2019-04-24 06:20] MelbyBaldove opened #320 "How are you guys"
I know Uber people are busy. But are there any plans to make further improvements to RIBs? Its getting pretty inactive nowadays

[2019-04-24 07:44] sbarow commented on #320
Hey @MelbyBaldove the repo might seem inactive but its because there aren't much updates needed other than ensuring RIBs compile with the latest SDK's.

What kind of improvements would you like to see?

[2019-04-24 07:45] sbarow commented on #317
@RubenEsposito should be fixed on latest master.

[2019-04-24 07:45] dangthaison91 commented on #320
What about Plugin @sbarow ?

[2019-04-24 07:53] #317 closed

[2019-04-24 08:04] sbarow commented on #320
Plugins aren't tied directly to RIBs so I am not sure it makes sense include them as an improvement in this repo.

[2019-04-26 11:26] xzeror commented on #320
@sbarow so what about https://github.com/uber/RIBs/issues/312

[2019-04-29 11:41] sbarow commented on #320
Yeah this is something we can do.

[2019-05-01 14:39] chenjunpu commented on #320
@sbarow When to migrating the TicTacToe RIBs sample to use Needle？

[2019-05-02 03:15] MelbyBaldove commented on #320
@sbarow #291 #304 and #308 I guess

[2019-05-02 11:57] ermik commented on #320
@chenjunpu this is probably a question for @neakor because he was planning to think about it. Certainly, with some guidance from folks @uber, community can do these things as well.

[2019-05-02 18:03] neakor commented on #320
For the original question:

Internally we haven't made any major changes since inception back in 2016. We've mostly been busy working on https://github.com/uber/needle and https://github.com/uber/motif

We are just kicking off an effort to simplify RIBs and reduce boilerplate code now. We'll likely have something new in Q3.

@chenjunpu I don't believe we will migrate the TicTacToe example in this

[2019-05-02 18:09] neakor commented on #303
Sorry for getting to this so late. Reading the original question, it sounds like there's a dynamic dependency that needs to be passed from a parent to a child. In this case, there are two options.

One we can create a data holder, such as an Rx stream, at the parent scope. This stream can then be DI down to the child. The parent can inject data into this stream and the child can consume by subscri

[2019-05-03 02:51] ermik commented on #294
In case anyone will be looking at this, I've recently started using IDEA / Android Studio and the option to create RIBs source files appears only if the menu's context (right/ctrl-click) is coming from a valid android module. It seems like valid, intended behavior and this issue may be resolved by improving the description of usage for Android codegen tool.

[2019-05-17 11:03] fegol opened #324 "[Android] Migration to androidX"
Hi, do you have plans for migrate to androidX?

[2019-05-17 12:44] dehrom opened #325 "[iOS] Increase RxSwift version"
Recently RxSwift lib was updated to version 5.0. There are couple useful changes. My project based on Carthage and I can't build it with such dependencies:
[code]
because of RIBs has a record in its Cartfile:
[code]

[2019-05-17 12:51] #325 closed

[2019-05-17 12:51] dehrom commented on #325
Oh, I didn't see https://github.com/uber/RIBs/pull/322 sorry)

[2019-05-20 10:27] devmjun opened #326 "When do you support 0.9.3 version to cocoapod?"
I am just curious... I need to 0.9.3 version because of No compiling 0.9.1 with access control curious in `class Component<DependencyType>`

[2019-05-23 04:10] keithcml commented on #320
Hi team,
Any plan to have more integration example about using RIBs?
Like how to work well with new Android Jetpack Navigation Components?

Thanks

[2019-05-23 17:34] neakor commented on #320
@Leland-Takamine can help answer the Android specific question.

[2019-06-01 09:48] devmjun commented on #326
this pod is always failing compilation in Swift 5.0 version when Do `pod update`.

<img width="1502" alt="Screen Shot 2019-06-01 at 6 43 13 PM" src="https://user-images.githubusercontent.com/30401511/58746812-a71df100-849d-11e9-9f8e-22e2b4aeddf0.png">

[2019-06-02 08:08] JamesJunsungKim opened #331 "[iOS] is there a way to create a view-based rib?"
My title might not be obvious to some of you so here is my situation.
I'd like to implement a view changes height dynamically based on its contents. I usually do it by overriding the intrinsicContentSize and autoresizingMask but since it's a view controller, I'm lost at how I should go around it.

And besides my situation, I feel there is a need to create a view-based rib since in some situations,

[2019-06-06 23:41] JakeSc commented on #170
Here is some guidance that we landed on:

A good rule of thumb that I use when deciding whether some UI should be a rib are these questions:

*“Does this UI ever attach a child to itself, or does it just inform its parent that it was clicked?“*
If it attaches children, then creating the Router makes sense.

*“Furthermore, does this component consist of several files and components that need to be

[2019-06-07 15:16] ermik commented on #331
I use [TextureGroup/Texture](https://github.com/TextureGroup/Texture) to handle view hierarchy, as the RIBs reference implementation is not well-suited for going past the VC stage.

[2019-06-07 15:17] dangthaison91 commented on #331
We have some RIBs where it's ViewController is embedded as sub view inside a Views/TableViewCell... RIB work very well with View Container and I just guest they implement Plugin by this way.

[2019-06-10 00:48] JamesJunsungKim commented on #331
@dangthaison91 just implementing a view controller's view into another view is quite simple since it doesn't require the said view to override anything. my situation is a little bit different as the embedded view's properties should be overridden. I tried to tweak things here and there to change a view controller to a view but seems like I need to dig into the RIBs code base which I felt there mus

[2019-06-10 02:00] zzj1213 opened #332 "SwiftUI support"
Apple released **SwiftUI**, will RIBs support it?

[2019-06-10 02:55] dron247 commented on #320
@keithcml I do not really think that jetpack navigation and RIBs are compatible matters, you can, for example have a RIB root in one of those fragments and provide necessities to every root with dagger, but I'm afraid you can not really mix them, because RIBs is one of the ways of NOT USING fragments at all.

[2019-06-10 04:46] JUSTINMKAUFMAN commented on #331
You can implement your custom view as a ViewController’s View object by overriding `UIViewController:loadView`. Then you effectively have a RIB for your custom view without needing to create something new.

[2019-06-12 13:32] JamesJunsungKim commented on #331
@JUSTINMKAUFMAN in my opinion, your approach is just a way around it. if you intend to just switch views by overriding functions, you don't necessarily need to choose loadView() to get this job done. it could be done in any other places.

And then, more importantly, I think you misunderstood my point. then how are you going to make the custom view that will be replaced with the original view?

my

[2019-06-13 17:45] 5torm5h4dow opened #335 "UI Input validation : Presenter or Interactor ?"
Where would be the right place to put the validation code for the user input ,for eg : validation of address, name etc.. . Would this demand the use of the presenter or do we put the validation code in the Interactor itself? If I remember correctly, clean architecture mentions somewhere it's best not to have the input validation in the Interactor.

[2019-06-19 20:49] ShaishavGandhi commented on #324
Done via #334

[2019-06-19 20:49] #324 closed

[2019-06-20 09:19] fegol commented on #324
@ShaishavGandhi Hi, I would like to known when you planning release this changes

[2019-06-22 04:08] alexvbush commented on #335
put it in presenter or viewmodel, interactor is for business logic.

[2019-06-27 06:54] fegol opened #336 "[Android] Small question"
Hi, I have small question. Where i can get android library with last changes from master? Or when you publish it?

[2019-06-30 14:05] 5torm5h4dow commented on #335
Wanted to confirm.Thanks

[2019-06-30 14:05] #335 closed

[2019-07-03 03:18] jafara opened #337 "Please use swift_versions dsl in podspec"
if you do not specify it then the projects swift version is used. read more [here](https://guides.cocoapods.org/syntax/podspec.html#swift_versions)

[2019-07-07 20:22] 5torm5h4dow opened #338 "Exposing rx subjects from presenter to Interactor ?"
I was thinking whether there is any draw back in exposing rx subjects from the presenter to the Interactor. Taking an example of loading all employees in a tableview

Presenter:
[code]

Interactor:
//Assuming here employees is an array of employee objects
`self.presenter.empSubject.onNext(employees)`

This is more convenient at times compared to calling a function. for eg:

[code]

as the subj is

[2019-07-08 04:53] alexvbush opened #339 "SceneDelegate and AppDelegate split"
iOS 13 introduces new SceneDelegate that suppose to take care of all UI related instantiations and takes that responsibility away from AppDelegate. Now app delegate suppose to setup dependencies and data for the app. Are there any plans to split things up the same way in RIBs architecture?

As it currently stands `RootBuilder.build()` creates an instance of `LaunchRouting` and then we give that in

[2019-07-10 10:41] 5torm5h4dow opened #340 "[Question] Right approach in passing token across RIBs"
Most of my modules require interaction with remote API's which require token for authentication. I was wondering what the right approach would be. Two come to my mind

(i)My Auth RIB completes authentication and passes on the token as a dependency to the next child RIB and so on. All RIBs (which require token) would now need to declare token as dependency and acquire it from the parent RIB. There

[2019-07-10 23:20] rudro commented on #340
At Uber, we'd almost always to with (i).

Having a deep and properly scoped RIB tree means that we can limit the Auth token to only part of the RIB tree where it makes sense. For example the LoggedOut RIB would never be able to even access the token as this makes no sense.

To avoid the boilerplate we use Motif (https://github.com/uber/motif) on Android which is a layer atop the `Dagger` DI framew

[2019-07-10 23:24] rudro commented on #332
We are as excited about SwiftUI as you are, but unfortunately being a large company, we have a policy of typically support current + 2 previous versions of iOS. This means we have a roughly 2 year lag when it comes to technology that Apple does not back port to previous versions.

As a result, it's unlikely you would see any SwiftUI related changes in the near term to RIBs.

[2019-07-11 10:56] 5torm5h4dow commented on #340
Thanks for the reply @rudro . I will definitely take a look at Needle. Just one follow up question regarding scoping. Which of these two would you prefer in this case

(i)Passing the token as parameter to the RIB's build method
` func build(withListener listener: TabListener,token:AuthToken)`

(ii)Do you delcare it as depedency which is to be satisfied by the parent's component.

[2019-07-11 20:18] rudro commented on #340
So for all the RIBs that need this token, we'd do (ii).  See the `player1Name` in this file : https://github.com/uber/RIBs/blob/master/ios/tutorials/tutorial4-completed/TicTacToe/ScoreBoard/BasicScoreBoardBuilder.swift

The name (token in your case) get's added to the DI graph here :
https://github.com/uber/RIBs/blob/master/ios/tutorials/tutorial4-completed/TicTacToe/LoggedIn/LoggedInBuilder.swift

[2019-07-12 20:26] 5torm5h4dow commented on #340
@rudro This actually makes it very clear. Thanks for taking time to answer this.

[2019-07-12 20:27] #340 closed

[2019-08-01 20:30] charliekayaker opened #341 "Please reach out to your Uber Business Development representative for server token access."
Hi everybody!

I have a problem when i try get server token.

The page say me:

"Please reach out to your Uber Business Development representative for server token access."

Anybody can i help me?

Thanks in advance.!

[2019-08-07 06:39] kor45cw commented on #317
@sbarow 0.9.3 and xcode 10.2
The issue seems to occur despite the current version

[2019-08-08 01:34] kor45cw opened #342 "[iOS] after Swift5 Component Dependecy not compiled just warning"
[code]
<img width="822" alt="스크린샷 2019-08-08 오전 10 30 29" src="https://user-images.githubusercontent.com/4055267/62668640-8c995400-b9c7-11e9-9ec3-f338c4883d04.png">

I modified it according to the suggested one, but there seems to be a problem with passing the component.

<img width="824" alt="스크린샷 2019-08-08 오전 10 32 40" src="https://user-images.githubusercontent.com/4055267/62668721-dd10b180-b9c

[2019-08-08 14:16] drewhamilton opened #343 "[Android] Constructor injection for Interactors is disallowed"
After completing tutorial 2, I attempted to improve the Dagger usage by using constructor injection where possible. I succeeded in making `RootRouter`, `LoggedOutBuilder`, and `LoggedOutRouter` constructor injected and was able to remove a few manually-written `@Provides` methods as a result.

Next, I wanted to convert `RootInteractor` to use constructor injection. This would allow me to remove it

[2019-08-08 15:27] kor45cw commented on #342
PodSpec has been updated to 0.9.3. However, the new version is not released. We hope to release version 0.9.3 soon.

[2019-08-25 16:04] jafara commented on #342
@kor45cw make sure to fix https://github.com/uber/RIBs/issues/337 for next release

[2019-08-27 16:14] igor-shyrnin commented on #341
me 2. Already 2 months without uber API (request /estimate/price)

[2019-08-29 07:58] #342 closed

[2019-09-02 21:36] lukepighetti opened #344 "No such module "RIBs""
I'm on `cocoapods` v1.7.5. I navigate to `ios/tutorials/tutorial1` and type `pod install`. After selecting a Team in xCode, I go to build, and I get an error

`No such module 'RIBs'` on line 17 of `AppDelegate.swift`

Is this related to an issue with `uber/RIBs`?

[2019-09-02 21:38] lukepighetti commented on #344
Have to open `TicTacToe.xcworkspace` instead of `TicTacToe.xcodeproj`

[2019-09-02 21:38] #344 closed

[2019-09-12 11:51] matsuhiro opened #345 "[Android][Question]How to get something result from onActivityResult."
Hello, I have a question.
When we want to get something result from onActivityResult, there is callbacks only in RibActivity.
But usually, interactor don't know activity.
Is there any practice to get something result from onActivityResult in interactor?

Should I pass callbacks to each Builder??

[2019-09-19 19:57] michaeleisel opened #346 "Using an open-source version of Combine instead of RxSwift"
Because RxSwift and Combine are so similar, and because Combine is an Apple-provided library, would it be worth it to switch to a backwards-compatible version of it, e.g. [OpenCombine](https://github.com/broadwaylamb/OpenCombine)? That project says that it's in "early development", and I don't know of any other version of Combine, but perhaps it would be worth thinking about right now.

[2019-09-25 00:10] rafaelmaroxa opened #347 "Tutorial 2, Step "Unit testing""
After following all the steps, and when it was time to build and run the tests on `RootRouterTests.swift`, the code wouldn't compile because `LoggedInInteractableMock` did not implement the `gameDidStart` method from `OffGameListener` (through `LoggedInInteractable`).

To fix it, I added the `gameDidStart` implementation with a counter for method calls, as well as a closure for providing an implem

[2019-09-26 21:07] turaba58 commented on #347
Good job

[2019-10-01 10:29] 5torm5h4dow opened #349 "TicTacToe : RIBs + Needle example"
Hi,

It would be great to have a TicTacToe sample project based on RIBs & Needle. I had seen in some thread that this is being worked on. Is there any plan to do this? If yes when would it be released

Thanks

[2019-10-02 02:01] lockett-rccl opened #350 "Tutorial 2. Argument Type RootComponent does not conform to expected type LoggedInDependency"
Continuing from tutorial 1 I ran into this issue. Has anyone seen this or know why loggedOut is fine but loggedIn is throwing this error on the component?

<img width="999" alt="Screen Shot 2019-10-01 at 9 59 18 PM" src="https://user-images.githubusercontent.com/41024391/66012872-d9b11800-e496-11e9-9d0a-265585d32c25.png">

[2019-10-02 16:27] lockett-rccl commented on #350
@artman

[2019-10-05 20:47] vslala commented on #341
any update? I'm also getting the same message.

[2019-10-06 09:21] sbarow commented on #341
Can you add more context here? When are you running into this issue?

[2019-10-08 06:58] dandingol03 opened #352 "Tutorial 1: Android Studio 3.4 build error"
Hi:
as version: 3.4
error :
错误: 程序包android.support.annotation不存在

[2019-10-08 08:03] #352 closed

[2019-10-08 08:10] dandingol03 opened #353 "tutorial 1: RootRouter Constructor parameters error"
![image](https://user-images.githubusercontent.com/13013579/66378484-196f8680-e9e6-11e9-8462-19973d26391a.png)

[2019-10-10 09:34] denis-hoz opened #354 "Please update cocoapods to 0.9.3"
Hello guys,

your latest release for cocoapods was in 2017.
Please release 0.9.2/0.9.3 and push .podspec file
Btw Carthage works fine but I need cocoapods for my library dependency

[2019-10-12 08:19] tezqa opened #355 "Best approach for nested routers"
Hi!

Suppose we have this hierarchy:

`NewsRIB (Headless) -> NewsListRIB -> NewsDetailsRIB -> NewsCommentsRIB`

We need to push the `NewsDetailsRIB` from the `NewsListRIB` and the `NewsCommentsRIB` from the `NewsDetailsRIB`.

What is the right approach about the routers?

A. Each RIB's routers are responsible to implement methods to push their related RIB.
e.g. : the `NewsListRIB` router should im

[2019-10-15 20:32] winac commented on #341
@sbarow Having the same issue. I have created an app in the uber developer dashboard so that I could access uber's API however accessing the API requires a Server Token. When going back into the app to find the server token I see the image linked https://postimg.cc/bZQscYNv

[2019-10-16 07:18] sbarow commented on #341
This isn't related to RIBs. Possibly look at posting here https://github.com/uber/rides-ios-sdk/issues

[2019-10-16 07:18] #341 closed

[2019-10-24 09:50] denis-hoz commented on #354
@MihaelIsaev, thanks.
But unfortunately I want to use **RIBs** in my own **pod**.
So it's required to add it as **dependency** in _.podspec_ file and it's impossible to specify branch or commit there https://guides.cocoapods.org/syntax/podspec.html#dependency

[2019-11-11 05:49] pomozoff opened #358 "Add SPM support"
It will be good to have the support of Swift Package Manager

[2019-11-15 01:56] richiiiee commented on #336
The master branch contains the stable code. If you are getting from some other branch, it maybe unstable. Better use the library available in master.

[2019-11-17 01:41] nick-potts commented on #358
Given that you can specify a platform in SPM package, I don't see why not.

[2019-11-19 19:16] dharmendra-gogovan commented on #345
Maybe you can create an Observable using RxJava on RibActivity, pass the Observable to RootBuilder using Dependency Injection & finally observe the item-emission on the interactor you want.

[2019-11-24 04:15] ninokierulf commented on #272
Have you found the solution to your question? if so, please share and close the issue.

These are some suggestions I came up with.
- one suggestion is to treat it like a rib-workflow (see tutorial 4)
- another is to be able to pass the save request through the ribs tree but i dont think it's an elegant solution
- another option is to use rx application stream that listens to `applicationWillTermin

[2019-11-24 04:59] jerryzhoujw commented on #272
@ninokierulf  actually,  I'm not using ribs for a while, and I can't remember how I handle this question at last. I can close this since I didn't use RIBs now.

[2019-11-24 04:59] #272 closed

[2019-12-02 16:28] Bkhadija opened #361 "Android: RootActivity and RootRib generation"
When we start a new project, are RootActivity and RootRib generated automatically or we always created them manually ?

[2019-12-06 07:55] qhhonx opened #362 "[iOS] How Uber create a viewable RIB with UIView not UIViewController ?"
As documentation mentioned that a RIB can be viewable or viewless, it is found that viewable RIB must be associated with UIViewController. However, I think it is not possible and most viewable RIB should be UIView-based as RIBs framework encouraging us to make reusable and micro components.

As the below image shown, are those viewable RIBs (`Confirmation, Location Refinements, Menu`) UIViewContro

[2019-12-11 13:09] sanjayhub opened #363 "RIB Live tree"
How to setup RIB live tree viewer. is it open source ?
reference :
https://www.youtube.com/watch?v=FfwZSk6VRVY&t=536s

at 30:03 . Thanks.

[2019-12-11 22:21] nick-potts commented on #354
bump

[2019-12-12 09:01] denis-hoz commented on #326
Bump

[2019-12-17 05:45] codedeman commented on #350
I also run into this problem

[2019-12-17 05:51] codedeman commented on #350
<img width="705" alt="Screen Shot 2019-12-17 at 12 51 04 PM" src="https://user-images.githubusercontent.com/20448867/70968475-ee7f6e00-20cb-11ea-9430-b8c8830baf32.png">

[2019-12-17 06:49] srea commented on #363
@sanjayhub As far as I know it is not open source.
So I made and released it.
https://github.com/srea/RIBsTreeViewerClient

[2019-12-17 07:01] srea commented on #277
@artman @ermik @rudro  I published RIBs live visualizer. but  it is rough...
https://github.com/srea/RIBsTreeViewerClient

[2019-12-17 12:59] codedeman commented on #350
@lockett-rccl  I know the reason why it wrong because you fogot implement protocol in LoggedinBuilder you can follow my code in Github: https://github.com/codedeman/UberRIB

[2019-12-19 17:33] dangthaison91 commented on #362
My idea is that we can recursive to get parent viewcontroller from a UIView:
[code]

[2019-12-19 18:48] dangthaison91 commented on #320
@neakor Could you share progress on this?

[2020-01-02 22:07] mhammouri98 commented on #306
I have created a fork of the original uber-rib
Modified it and remove Rx and Dagger dependencies from it, the API will change a little bit, I have included an example also.
Soon I am going to add Rx as an extension
Also, Modifying the generator plugin to support Motif, Dagger and maybe other dependency injection libraries
*I have also migrated the code to Kotlin, here is the REPO:
https://github.c

[2020-01-07 19:19] kovpas commented on #362
All viewable RIBs on the diagram above (Confirmation, Location Refinements, Menu) are `UIViewController` based.

[2020-01-09 17:22] mhammouri98 opened #366 "[Question] Why Android Interactor must have only an empty constructor?"

[2020-01-25 10:08] chachramohit commented on #341
I am also getting the same problem
if you have the solution then please let me know

[2020-01-25 14:29] chachramohit commented on #341
You can go ahead without adding Server Token your app will work properly.
In the past, I also faced this problem but without adding server token my app started working properly.

[2020-01-29 11:24] SergeyShustikov opened #367 "[Android] Tutorial1 : installDebug failed"
Hi! I tried to launch first example of Uber RIBs and got an error :

[code]

I checked this snapshot and it already exist. Maybe I did something wrong?

[2020-02-06 12:23] Eddy-Morgan commented on #341
session = Session()
client = UberRidesClient(session)

Like this?

[2020-02-10 00:02] rjyoung commented on #341
Can you please give a code example of how you managed to do this? I am working on a school project that requires the use of the Uber api and my group is having trouble with obtaining a Session() and Uber seems to be restricting access to server tokens and scope info.

[2020-02-11 13:38] chachramohit commented on #341
I have not used any server token I have kept this column as blank.

My code for the uber ride button is attached below

`SessionConfiguration config = new SessionConfiguration.Builder().
                setClientId("lKkYsil2aLxytykLD18DE0MJDYpY63CT").
                setServerToken("").
                //setRedirectUri().
                setScopes(Arrays.asList(Scope.RIDE_WIDGETS)).

[2020-02-11 13:40] chachramohit commented on #341
I have not used any server token I have kept this column as blank.

My code for the uber ride button is attached below

SessionConfiguration config = new SessionConfiguration.Builder().
                setClientId("lKkYsil2aLxytykLD18DE0MJDYpY63CT").
                setServerToken("").
                //setRedirectUri().
                setScopes(Arrays.asList(Scope.RIDE_WIDGETS)).

[2020-02-26 17:10] travis-st commented on #341
Looks like Uber doesn't really care about supporting developers.

Twitter @UberDevelopers hasn't been updated in 2 years
The "Blog" hasn't been updated since 2018
The Google Groups for "Support" does not exist

Awesome!

[2020-03-24 07:51] VladimirAmiorkov commented on #350
@codedeman What do you mean, can you give more pointers. The repo you gave has a complete tutorial that is stops ahead of Tutorial 2 which makes it hard to understand the exact reason for the "Argument Type RootComponent does not conform to expected type LoggedInDependency" error

[2020-03-26 01:17] Angel-Cortez commented on #362
@qhhonx, Why would you like to use a UIView vs. UIViewController? A common misconception in iOS development is that UIViewController needs to represent a single "screen" in application; however, this is not the case. UIViewController can be composed of subsequent child UIViewControllers. These child UIViewControllers can represent something as small as a button. Hence, why it seems why these examp

[2020-04-02 01:40] tinder-maxwellelliott opened #372 "Travis CI is broken?"
It appears as if the Carthage setup step in Travis CI is failing? Can we fix this please?

Link to build: https://travis-ci.org/github/uber/RIBs/builds/669770612?utm_source=github_status&utm_medium=notification

[2020-04-23 02:32] Angel-Cortez commented on #349
@5torm5h4dow ,

I'm working on [example](https://github.com/Angel-Cortez/example-buck-ribs-needle) that uses Buck + RIBs + Needle. However, I'm having an [issue](https://github.com/uber/needle/issues/336) integrating plugins. Any help to push this through would be appreciated. I'll be doing a write up the repo once finished. P.S. currently it is in working state using both RIBs and Needle.

Thanks

[2020-05-04 10:24] kovpas commented on #372
I believe this one was fixed with #359.

[2020-05-04 10:24] #372 closed

[2020-05-06 20:05] GrahamBorland commented on #320
One year on, any more status updates?

Any plans to incorporate changes from [Badoo's fork](https://github.com/badoo/RIBs)?

[2020-05-08 21:56] kovpas commented on #358
I think this one can be closed now :)

[2020-05-08 21:56] #358 closed

[2020-05-13 03:45] imairi commented on #332
I tried to modify SwiftUI tutorial with RIBs.
https://github.com/imairi/HandlingUserInputRIBs

For handling routing operation by RIBs' Router, UINavigationController is used instead of SwiftUI NavigationLink.
If there's a better way, please let me know.

[2020-06-11 13:14] metaine commented on #222
I wonder if this can be solved by making Presenter a ViewModel, updating VM from Interactor - and subscribing to Presenter (ViewModel) updates in ViewController when VC is actually ready. Or it is just against a RIBs/Clean Architecture way?

[2020-07-08 05:08] imairi commented on #354
+1

[2020-07-08 12:56] srea commented on #354
+1

[2020-07-10 04:37] takahia1988 commented on #354
+1

[2020-07-20 17:21] dangthaison91 opened #373 "Add more Routing lifecycle events to support RIB Tree tracing"
We are trying to improve the overall performance of our app. The first thing we think we should do beside of manual Profiling is tracking performance for specific code.

For **UIView/UIViewController**, swizzle help to automatically record a trace then send to a Telemetry tracing API. We also want to do that for **Interactor/Router** but they are pure Swift so no swizzle at all.

We tried to do th

[2020-07-22 05:59] ZH3057 opened #374 "Use plugin point, how the child ribs communicate with parent rib?"
Without plugin point:

In the article [Engineering Scalable, Isolated Mobile Features with Plugins at Uber](https://eng.uber.com/plugins/), see the Figure below

![image](https://1fykyq3mdn5r21tpna3wkdyi-wpengine.netdna-ssl.com/wp-content/uploads/2017/08/image13.png)

Figure: Enforced separation between plugin and non-plugin code ensures that the Refinement Steps RIB can no longer reference Airpor

[2020-07-27 13:13] kovpas commented on #374
It depends on the use case. Sometimes we do use plugin points to attach RIBs of the similar nature, but it's not the case all the time.

Child RIBs communicate to parents usually via `Observable`s.

[2020-07-27 13:49] ermik commented on #374
With `RIBs` you have two mechanisms of communication:
- **Listener (mainly Child → Parent)** — this is similar to the delegate you should be familiar with; whichever system wants to use a RIB, it must implement the `Listener` protocol.
- **Stream (mainly Parent → Children)** — since the specifics of children, and more importantly, _subtrees_ are concealed from the parent, except for the `Listener`

[2020-07-27 13:49] ermik commented on #374
Also, do the tutorials.

[2020-07-27 13:59] ermik commented on #373
I think this should be implemented via `Observable`, not individual delegate methods. Also, I wouldn't allow to pass `Routing` object reference around, I would limit it to a `String`:
[code]
or perhaps a `struct` type implementing a protocol:
[code]

[2020-08-07 01:46] ericntd opened #375 "Plugin installation not working in Android Studio 4.0.1"
I've just downloaded the jar file from https://github.com/uber/RIBs/wiki/Android-Tooling
and installed it per your instructions but RIB is not showing up in under **New** menu
(already restarted Android Studio)
![Screen Shot 2020-08-06 at 9 46 30 PM](https://user-images.githubusercontent.com/19919208/89599716-5129a380-d82e-11ea-96d1-5a7024602093.png)

[2020-08-08 05:01] congncif commented on #354
Is Uber still working on this project?

[2020-08-08 15:43] ermik commented on #354
I'm sure they are, they just don't publish to the OSS "upstream". For example, I can't imagine this still has a typo in the Uber codebase:
https://github.com/uber/RIBs/blob/ffc489f00db785c8c0051678393f7aba0d52f1a4/ios/RIBs/Classes/Workflow/Workflow.swift#L209

[code]
In fact, I don't think this is an "upstream". As far as I can glimpse from the codebase, _this is **not** the code_ that @uber uses

[2020-09-07 19:05] ericntd opened #377 "Tutorial 2 memory leak inner class question"
I'm at the beginning of tutorial 2, seeing a strange non-static inner class:
[code]

Also, the login listener is referenced by a very strange syntax in RootBuilder: `rootInteractor.new LoggedOutListener()`
What is that?

[2020-09-17 14:07] FelixEcom commented on #375
Mine too

[2020-09-18 19:46] brambati opened #378 "How to get server_token"
Hello, I need the server token to access the uber api how do I get it?

[2020-09-19 18:40] ermik commented on #378
@brambati what led you to ask your question on this site? Did you follow a link from somewhere?

[2020-09-21 11:42] brambati commented on #378
Hello, I searched the website developers.uber.com and found your
githut, I need to use the uber api to identify if a vehicle is
registered in uber would that be possible?

Em sáb., 19 de set. de 2020 às 15:40, Ermolay Romanov <
notifications@github.com> escreveu:

--
*Jonathan Brambati*

*Tecnologia da Informação*Analista de Sistemas
Pós-graduando em Engenharia de Software - Faculdade Estácio de S

[2020-09-25 01:47] imairi commented on #378
https://developer.uber.com/docs/riders/guides/authentication/server-token

[2020-09-25 20:04] brambati commented on #378
That's not what I'm looking for, but thanks for the help

Em qui., 24 de set. de 2020 às 22:47, Yosuke Imairi <
notifications@github.com> escreveu:

--
*Jonathan Brambati*

*Tecnologia da Informação*Analista de Sistemas
Pós-graduando em Engenharia de Software - Faculdade Estácio de Sá
brambati.moreira@gmail.com | Currículo
<http://www.jonathanmoreira.com.br/curriculo-Jonathan-Moreira.pdf>
<http://

[2020-09-27 16:31] ermik commented on #378
You're in the wrong place and you should not expect any help on your issue to come from GitHub as a whole or this thread in particular.

Please visit [Uber Developer Support](https://developer.uber.com/support?selected=drivers).

In the future, please consider the fact that sending messages via channels which in no way relate to your subject matter (as `uber/RIBs` is **not related** to Uber API, w

[2020-09-28 12:22] brambati commented on #378
kkkkkk

Em dom., 27 de set. de 2020 às 13:31, Ermolay Romanov <
notifications@github.com> escreveu:

--
*Jonathan Brambati*

*Tecnologia da Informação*Analista de Sistemas
Pós-graduando em Engenharia de Software - Faculdade Estácio de Sá
brambati.moreira@gmail.com | Currículo
<http://www.jonathanmoreira.com.br/curriculo-Jonathan-Moreira.pdf>
<http://www.facebook.com/leandromagela>
<http://img1.olh

[2020-09-28 12:24] #378 closed

[2020-10-05 12:28] ericntd commented on #375
Turns out one has to right click on the *java* folder/ directory or one of the packages
![Screen Shot 2020-10-05 at 8 27 41 AM](https://user-images.githubusercontent.com/19919208/95079476-abd36480-06e4-11eb-9606-a5fcf8296783.png)

[2020-10-05 12:51] ericntd opened #380 "[Android][Question] How to plug a RIB component into a legacy non-RIB ViewPager, Fragment or Activity?"
Admittedly, this question can be a question for Dagger but I thought you have must have done this at some point.
Also, this would help adoption greatly since not everyone has the opportunity to rewrite complex existing screens from scratch

[2020-10-05 13:09] ericntd opened #381 "[Android][Question] Everyone (not just RIBs maintainers), when not to use RIBs?"
I found the use of Dagger's Dependent Components (enforced by RIBs; as opposed to Sub-Components) complex and unnecessary for many screens in my app.
Also, the Dagger syntax RIBs are using are more verbose and complex than `dagger-android`

I have a feeling RIBs is suitable for complex screens with deeply nested views and/ or child views vary greatly depending on the user's state and/ or the wide